﻿<div class="admin-container">
    <partial name="/Views/Partials/Admin/_Menu.cshtml" />
    <div>
        <partial name="/Views/Partials/Admin/Articles/AddArticle/_Toolbar.cshtml" />
        <div class="admin-container-body article-content-wrapper">
            <partial name="/Views/Partials/Admin/Articles/AddArticle/_Basics.cshtml" />
            <partial name="/Views/Partials/Admin/Articles/AddArticle/_Publication.cshtml" />
        </div>
    </div>
</div>