﻿@model ElectronicsStore.Models.NewsPager

<div class="admin-container">
    <partial name="/Views/Partials/Admin/_Menu.cshtml" />
    <div>
        <partial name="/Views/Partials/Admin/Articles/Articles/_Toolbar.cshtml" />
        <div class="admin-container-body">
            @await Html.PartialAsync("/Views/Partials/Admin/Articles/Articles/_ArticleList.cshtml", Model)
        </div>
    </div>
</div>