﻿@model ElectronicsStore.Models.News

<div class="admin-container">
    <partial name="/Views/Partials/Admin/_Menu.cshtml" />
    <div data-article-id="@Model.NewsId">
        @await Html.PartialAsync("/Views/Partials/Admin/Articles/EditArticle/_Toolbar.cshtml", Model)
        <div class="admin-container-body article-content-wrapper">
            @await Html.PartialAsync("/Views/Partials/Admin/Articles/EditArticle/_Basics.cshtml", Model)
            @await Html.PartialAsync("/Views/Partials/Admin/Articles/EditArticle/_Publication.cshtml", Model)
        </div>
    </div>
</div>