﻿@model ElectronicsStore.Models.User

<h2 class="account-settings-heading">Ustawienia konta</h2>
<div class="user-information-container">
    @await Html.PartialAsync("/Views/Partials/AccountSettings/_Background.cshtml", Model)
    @await Html.PartialAsync("/Views/Partials/AccountSettings/_AddressDetails.cshtml", Model)
</div>
