﻿@model ElectronicsStore.Models.News

<div class="toolbar-container">
    <div>
        <h3 class="toolbar-subtitle">Artykuły</h3>
        <h2 class="toolbar-title">Edytuj artykuł</h2>
    </div>
    <div class="toolbar-actions">
        <a asp-controller="News" asp-action="Article" asp-route-id="@Model.NewsId" class="btn secondary-btn">
            <img src="/icons/external-link.svg" alt="Preview" />
            <span>Podgląd</span>
        </a>
        <button type="button" class="btn secondary-btn js-deleteArticleButton">
            <img src="/icons/trash.svg" alt="Delete" />
            <span>Usuń</span>
        </button>
        <button type="submit" class="btn primary-btn js-saveArticleButton">
            <img src="/icons/save-white.svg" alt="Save" />
            <span>Zapisz</span>
        </button>
    </div>
</div>