﻿@{
    string contoller = ViewContext.RouteData.Values["controller"].ToString();
    string mainTagPadding = contoller == "Assortment" || contoller == "Article" ? "p-0" : "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectronicsStore</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet" asp-append-version="true">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/svg.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/text.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/badge.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toaster.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ckeditor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/interaction.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/TopBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/NavBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/Footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/BannerSlider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ProductSlider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/News.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/CategoryMenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Products/Products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Products/Pager.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProductCard/ProductCard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProductCard/Main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProductCard/FullscreenSlider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProductCard/Description.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProductCard/InformationAndPictures.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProductCard/SimilarProducts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/News/News.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/News/AllArticles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/News/RecommendedArticles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/News/Article.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/LoggedPanel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AccountSettings/AccountSettings.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Toolbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/List.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Products/ProductList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Products/Products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Products/LatestProducts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Products/SpecialOffersCounter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Products/CategoryDoughnut.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Assortment.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Product/Product.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Product/Sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Product/Basics.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Product/ProductCharacteristics.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Product/Photos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Assortment/Categories/Categories.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Articles/Articles/ArticleList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Articles/Article/Article.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Articles/Article/Basics.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin/Articles/Article/Publication.css" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="/Views/Partials/Layout/TopBar/_TopBar.cshtml" />
        <partial name="/Views/Partials/Layout/_NavBar.cshtml" />
    </header>
    <main class="@mainTagPadding">
        @RenderBody()
        @await Component.InvokeAsync("CategoryMenu")
    </main>
    <div class="backdrop"></div>
    <partial name="/Views/Partials/Layout/_Footer.cshtml" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="//cdn.ckeditor.com/4.17.1/full/ckeditor.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="~/js/appController.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
