﻿@model ElectronicsStore.Models.ProductView
@{
    List<Category> categories = (List<Category>)ViewData["categories"];

    List<ProductInformation> informations = JsonSerializer.Deserialize<List<ProductInformation>>(Model.Product.Information);
}

<div class="assortment-card p-4 w-100" id="Basics">
    <h3 class="assortment-heading">Dane podstawowe</h3>
    <div class="product-data-wrapper">
        <div class="d-flex align-items-center">
            <label asp-for="Product.Name" class="form-label form-label--product--required mb-3"></label>
            <div>
                <input asp-for="Product.Name" class="form-control form-control--product js-productNameInput" />
                <span class="form-explanation js-numberCharactersToUseProductName"></span>
            </div>
        </div>
        <div class="d-flex align-items-center pt-4">
            <label asp-for="Product.CategoryId" class="form-label form-label--product--required"></label>
            <select asp-for="Product.CategoryId" asp-items="@ElectronicsStore.Utility.CategoriesHelper.GetCountriesSelectList(categories)" class="form-select form-select--product" aria-label="countries"></select>
        </div>
    </div>
    <div class="d-flex align-items-center product-data-wrapper">
        <label asp-for="Product.Code" class="form-label form-label--product--required mb-3"></label>
        <div>
            <input asp-for="Product.Code" class="form-control form-control--product-lg" />
            <span class="form-explanation">Służy do identyfikacji produktów</span>
        </div>
    </div>
    <div class="product-data-wrapper">
        <div class="d-flex align-items-center js-ProductOldPrice">
            <label asp-for="Product.OldPrice" class="form-label form-label--product"></label>
            <input asp-for="Product.OldPrice" type="number" min="0" step="any" class="form-control form-control--product-md js-ProductOldPriceInput" />
            <span class="form-explanation ms-3">zł</span>
        </div>
        <div class="d-flex align-items-center js-ProductPrice">
            <label asp-for="Product.Price" class="form-label form-label--product--required"></label>
            <input asp-for="Product.Price" type="number" min="0" step="any" class="form-control form-control--product-md" />
            <span class="form-explanation ms-3">zł</span>
        </div>
    </div>
    <div class="product-data-wrapper">
        <div class="d-flex align-items-center">
            <label asp-for="Product.Quantity" class="form-label form-label--product--required"></label>
            <input asp-for="Product.Quantity" type="number" min="0" class="form-control form-control-product-sm" />
        </div>
    </div>
    <div class="product-data-wrapper d-flex">
        <label class="form-label form-label--product">Informacje podstawowe</label>
        <input asp-for="Product.Information" type="hidden" class="js-backgroundInput" />
        <table class="product-background-table">
            <tbody>
                @foreach (ProductInformation information in informations)
                {
                    <tr class="js-backgroundRow">
                        <td class="js-backgroundName">@information.Name</td>
                        <td>
                            <input type="text" value="@information.Value" class="form-control form-control--product js-backgroundValue" placeholder="Wpisz producenta" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>