﻿@model ElectronicsStore.Models.ProductView

<div class="assortment-card p-4 w-100" id="Photos">
    <h3 class="assortment-heading">Zdjęcia</h3>
    <ul class="photos-container">
        @foreach (ProductImage productImage in Model.Product.Images)
        {
            <li class="product-single-image-wrapper js-productPhotoPreviewWrapper" data-product-photo-id="@productImage.ProductImageId">
                <img src="@productImage.Url" alt="@productImage.Title" class="product-single-image js-productPhotoPreview" />
                <div class="product-single-image-wrapper--overlay">
                    <div class="product-single-image--action js-editProductPhoto" data-bs-toggle="modal" data-bs-target="@($"#productPhotoModal{productImage.ProductImageId}")">
                        <img src="/icons/edit.svg" />
                    </div>
                    <div class="product-single-image--action ms-2 js-deleteProductPhoto">
                        <img src="/icons/trash-second.svg" />
                    </div>
                </div>
            </li>
        }

        <li class="product-single-image-wrapper d-none js-addedProductPhotoPreviewWrapper">
            <img class="product-single-image js-addedProductPhotoPreview" />
            <div class="product-single-image-wrapper--overlay">
                <div class="product-single-image--action" data-bs-toggle="modal" data-bs-target="#productPhotoModal">
                    <img src="/icons/edit.svg" />
                </div>
                <div class="product-single-image--action ms-2 js-deleteProductPhoto">
                    <img src="/icons/trash-second.svg" />
                </div>
            </div>
        </li>
        <li>
            <button type="button" class="add-photos-button-link js-openModelButton" data-bs-toggle="modal" data-bs-target="#productPhotoModal">
                <div class="add-photos-button-link-wrapper">
                    <img src="/icons/plus-primary.svg" alt="Zarządzaj zdjęciami produktu" />
                    <span>Dodaj zdjęcie</span>
                </div>
            </button>
        </li>
    </ul>
</div>

@{ string imageDirectoryPath = "/images/"; }
@foreach (ProductImage productImage in Model.Product.Images)
{
    string imageName = productImage.Url.Substring(imageDirectoryPath.Length);

    <text>
        <div class="modal fade" id="@($"productPhotoModal{productImage.ProductImageId}")" tabindex="-1" aria-labelledby="@($"#productPhotoModalLabel{productImage.ProductImageId}")" aria-hidden="true" data-product-photo-modal-id="@productImage.ProductImageId">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title js-productPhotoModalTitle" id="exampleModalLabel">Edytuj zdjęcie</h5>
                        <button type="button" class="btn-close btn-link" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="add-photo-info">Aby dodać zdjęcie wgraj plik .JPEG, .JPG, .PNG lub .SVG</p>
                        <div class="photo-uploader-wrapper">
                            <label for="@($"productImageFile{productImage.ProductImageId}")" class="photo-uploader">
                                <div class="photo-uploader--select-photo">
                                    <span class="js-currentImageName">@imageName</span>
                                </div>
                                <div class="photo-uploader--review">
                                    <span>Przeglądaj</span>
                                </div>
                            </label>
                            <input type="file" id="@($"productImageFile{productImage.ProductImageId}")"  class="photo-uploader-input js-photoUploaderInput" accept="image/*" />
                        </div>
                        <div class="photo-uploader-wrapper pt-3">
                            <div class="col-6">
                                <label for="@($"productImageTitle{productImage.ProductImageId}")" class="form-label">Podaj tekst alternatywny</label>
                                <input type="text" id="@($"productImageTitle{productImage.ProductImageId}")" class="form-control js-photoAlternativeTitle" value="@productImage.Title"/>
                            </div>
                        </div>
                        <div class="form-switch form-switch--big pt-3 d-flex">
                            @if (productImage.IsMain)
                            {
                                <input type="checkbox" id="@($"productImageIsMain{productImage.ProductImageId}")" checked class="form-check-input js-photoIsMainSwitch" type="checkbox" role="switch">
                            }
                            else
                            {
                                <input type="checkbox" id="@($"productImageIsMain{productImage.ProductImageId}")" class="form-check-input js-photoIsMainSwitch" type="checkbox" role="switch">
                            }

                            <div class="d-flex flex-column ms-3">
                                <label for="@($"productImageIsMain{productImage.ProductImageId}")" class="form-check-label ms-0">
                                    Zdjęcie główne
                                </label>
                                <span class="form-explanation col-10">
                                    Wyróżnione zdjęcie wyświetlane na liscie produktów oraz stronie głównej
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn secondary-btn" data-bs-dismiss="modal">
                            <span>Anuluj</span>
                        </button>
                        <button type="button" class="btn primary-btn js-saveProductPhotoButton" data-bs-dismiss="modal">
                            <span>Zapisz</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </text>
}


<div class="modal fade" id="productPhotoModal" tabindex="-1" aria-labelledby="#productPhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title js-productPhotoModalTitle" id="exampleModalLabel">Dodaj zdjęcie</h5>
                <button type="button" class="btn-close btn-link" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="add-photo-info">Aby dodać zdjęcie wgraj plik .JPEG, .JPG, .PNG lub .SVG</p>
                <div class="photo-uploader-wrapper">
                    <label asp-for="ProductImageFile" class="photo-uploader">
                        <div class="photo-uploader--select-photo">
                            <span class="js-currentAddImageName">Wybierz zdjęcie</span>
                        </div>
                        <div class="photo-uploader--review">
                            <span>Przeglądaj</span>
                        </div>
                    </label>
                    <input asp-for="ProductImageFile" class="photo-uploader-input js-addPhotoUploaderInput" accept="image/*" />
                </div>
                <div class="photo-uploader-wrapper pt-3">
                    <div class="col-6">
                        <label asp-for="ProductImage.Title" class="form-label">Podaj tekst alternatywny</label>
                        <input asp-for="ProductImage.Title" class="form-control js-photoAlternativeTitle" />
                    </div>
                </div>
                <div class="form-switch form-switch--big pt-3 d-flex">
                    <input asp-for="ProductImage.IsMain" class="form-check-input js-photoIsMainSwitch" type="checkbox" role="switch">
                    <div class="d-flex flex-column ms-3">
                        <label asp-for="ProductImage.IsMain" class="form-check-label ms-0">
                            Zdjęcie główne
                        </label>
                        <span class="form-explanation col-10">
                            Wyróżnione zdjęcie wyświetlane na liscie produktów oraz stronie głównej
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn secondary-btn" data-bs-dismiss="modal">
                    <span>Anuluj</span>
                </button>
                <button type="button" class="btn primary-btn js-addProductPhotoButton" data-bs-dismiss="modal">
                    <span class="js-addProductPhotoButtonText">Dodaj</span>
                </button>
            </div>
        </div>
    </div>
</div>
