﻿@model ElectronicsStore.Models.ProductView
@{
    List<ProductInformation> characteristics = new List<ProductInformation>();

    if (Model.Product.Characteristics != null)
    {
        characteristics = JsonSerializer.Deserialize<List<ProductInformation>>(Model.Product.Characteristics);
    }

}

<div class="assortment-card p-4 w-100" id="Characteristics">
    <h3 class="assortment-heading">Cechy</h3>
    <div class="product-characteristics-wrapper">
        <input asp-for="Product.Characteristics" type="hidden" class="js-characteristicsInput" />
        <table class="product-characteristics-table js-characteristicsTable">
            <tbody class="product-characteristics-table-body js-characteristicsTableBody">
                @if (characteristics.Count() != 0)
                {
                    @foreach (ProductInformation characteristic in characteristics)
                    {
                        <tr class="js-characteristicRow">
                            <td>
                                <input type="text" value="@characteristic.Name" class="form-control form-control--product-lg js-characteristicName" placeholder="Wpisz nazwę cechy" />
                            <td class="characteristic-value-wrapper">
                                <input type="text" value="@characteristic.Value" class="form-control form-control--product js-characteristicValue" placeholder="Wpisz wartość cechy" />
                                <img src="/icons/trash.svg" alt="Kosz" class="trash-icon js-deleteCharacteristicsRowButton" />
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="js-characteristicRow">
                        <td>
                            <input type="text" class="form-control form-control--product-lg js-characteristicName" placeholder="Wpisz nazwę cechy" />
                        <td class="characteristic-value-wrapper">
                            <input type="text" class="form-control form-control--product js-characteristicValue" placeholder="Wpisz wartość cechy" />
                            <img src="/icons/trash.svg" alt="Kosz" class="trash-icon js-deleteCharacteristicsRowButton" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="add-characteristic-button js-addCharacteristicButton">
            <img src="/icons/plus-primary.svg" alt="Dodaj cechę produktu" />
            <span>Dodaj cechę</span>
        </div>
    </div>
</div>