﻿@model ElectronicsStore.Models.Product

<div class="toolbar-container">
    <div>
        <h3 class="toolbar-subtitle">Asortyment</h3>
        <h2 class="toolbar-title">Edytuj produkt</h2>
    </div>
    <div class="toolbar-actions">
        <a asp-controller="ProductCard" asp-action="Index" asp-route-id="@Model.ProductId" class="btn secondary-btn">
            <img src="/icons/external-link.svg" alt="Preview" />
            <span>Podgląd</span>
        </a>
        <button type="button" class="btn secondary-btn js-deleteProductButton">
            <img src="/icons/trash.svg" alt="Delete" />
            <span>Usuń</span>
        </button>
        <button type="submit" class="btn primary-btn">
            <img src="/icons/save-white.svg" alt="Save" />
            <span>Zapisz</span>
        </button>
    </div>
</div>