﻿@model ElectronicsStore.Models.User

<div class="user-information card-container">
    <div class="user-information-header">
        <h3 class="user-information-heading">Dane adresowe</h3>
        <button class="secondary-btn" data-bs-toggle="modal" data-bs-target="#addressDetailsModal">
            <img src="@Url.Content("~/icons/pencil.svg")" alt="Edytuj" />
            <span>Edytuj dane</span>
        </button>
    </div>
    <div class="user-information-content">
        <div>
            <small class="user-information--name">Ulica i numer budynku</small>
            <p class="user-information--value">
                @Model.Street, @Model.StreetNumber
                @if (Model.NumberOfPremises != null)
                {
                    <span class="user-information--value">/ @Model.NumberOfPremises</span>
                }
            </p>
        </div>
        <div>
            <small class="user-information--name">Kod pocztowy i miasto</small>
            <p class="user-information--value">@Model.ZipCode, @Model.City</p>
        </div>
        <div>
            <small class="user-information--name">Kraj</small>
            <p class="user-information--value">@Model.Country</p>
        </div>
    </div>
</div>

<div class="modal fade" id="addressDetailsModal" tabindex="-1" aria-labelledby="addressDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edycja danych adresowych</h5>
                <button type="button" class="btn-close btn-link" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-controller="AccountSettings" asp-action="Index" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="Street" class="form-label"></label>
                            <div>
                                <input asp-for="Street" class="form-control" />
                                <span class="form-explanation">np. Krakowska</span>
                            </div>
                        </div>
                    </div>
                    <div class="user-information-residence mt-3 col-9">
                        <div class="col-3">
                            <label asp-for="StreetNumber" class="form-label"></label>
                            <input asp-for="StreetNumber" class="form-control" />
                        </div>
                        <div class="user-information-residence-slash">/</div>
                        <div class="col-3">
                            <label asp-for="NumberOfPremises" class="form-label"></label>
                            <div>
                                <input asp-for="NumberOfPremises" class="form-control" />
                                <span class="form-explanation">Opcjonalnie</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-4 col-xl-3">
                            <label asp-for="ZipCode" class="form-label"></label>
                            <input asp-for="ZipCode" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label asp-for="City" class="form-label"></label>
                            <input asp-for="City" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5">
                            <label asp-for="Country" class="form-label"></label>
                            <select asp-for="Country" asp-items="@ElectronicsStore.Utility.CountryHelper.GetCountriesSelectList()" class="form-select" aria-label="resgiter-country"></select>
                        </div>
                    </div>
                </div>

                <input asp-for="FirstName" type="hidden" />
                <input asp-for="LastName" type="hidden" />
                <input asp-for="Phone" type="hidden" />
                <input asp-for="Email" type="hidden" />

                <div class="modal-footer">
                    <button type="button" class="btn secondary-btn" data-bs-dismiss="modal">
                        <span>Anuluj</span>
                    </button>
                    <button type="submit" class="btn primary-btn">
                        <span>Zapisz</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>