﻿@model ElectronicsStore.Models.User

<div class="user-information card-container">
    <div class="user-information-header">
        <h3 class="user-information-heading">Dane podstawowe</h3>
        <button class="btn secondary-btn" data-bs-toggle="modal" data-bs-target="#backgroundModal">
            <img src="@Url.Content("~/icons/pencil.svg")" alt="Edytuj" />
            <span>Edytuj dane</span>
        </button>
    </div>
    <div class="user-information-content">
        <div>
            <small class="user-information--name">Imię i nazwisko</small>
            <p class="user-information--value">@Model.FirstName @Model.LastName</p>
        </div>
        <div>
            <small class="user-information--name">Adres email</small>
            <p class="user-information--value">@Model.Email</p>
        </div>
        <div>
            <small class="user-information--name">Telefon</small>
            <p class="user-information--value">@Model.Phone</p>
        </div>
    </div>
</div>

<div class="modal fade" id="backgroundModal" tabindex="-1" aria-labelledby="backgroundModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edycja danych podstawowych</h5>
                <button type="button" class="btn-close btn-link" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-controller="AccountSettings" asp-action="Index" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                        </div>
                        <div class="col-5">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5">
                            <label asp-for="Phone" class="form-label"></label>
                            <input asp-for="Phone" class="form-control" />
                        </div>
                    </div>
                </div>

                <input asp-for="Email" type="hidden" />
                <input asp-for="Street" type="hidden" />
                <input asp-for="StreetNumber" type="hidden" />
                <input asp-for="NumberOfPremises" type="hidden" />
                <input asp-for="City" type="hidden" />
                <input asp-for="ZipCode" type="hidden" />
                <input asp-for="Country" type="hidden" />

                <div class="modal-footer">
                    <button type="button" class="btn secondary-btn" data-bs-dismiss="modal">
                        <span>Anuluj</span>
                    </button>
                    <button type="submit" class="btn primary-btn">
                        <span>Zapisz</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>