﻿@model IList<ElectronicsStore.Models.Affiliate>

@if (Model.Count() > 0)
{
    <ul class="affiliates">
        @foreach (Affiliate affiliate in Model)
        {
            <li>
                <h6 class="fs-2 fw-700 mb-4 line-height-24">@affiliate.Name</h6>
                <ul>
                    <li>@affiliate.Address</li>
                    <li>
                        @affiliate.ZipCode
                        <span class="pl-1">
                            @affiliate.City
                        </span>
                    </li>
                    <li>@affiliate.Email</li>
                </ul>
            </li>
        }
    </ul>
}
