﻿<div class="category-doughnut-container assortment-card">
    <h4 class="assortment-heading">Ilość produktów w kategoriach</h4>
    <div class="category-doughnut-chart-container">
        <canvas id="categoryDoughnutChart"></canvas>
        <span class="no-category-doughnut-chart-info js-noCategoryDoughnutChartInfo d-none">Brak</span>
    </div>
</div>
