﻿@model List<ElectronicsStore.Models.Product>

@{
    int productIndex = 0;
}

<div class="latest-products-container assortment-card">
    <h4 class="assortment-heading pb-3">Ostatnio dodane produkty</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="th-rounded">Lp.</th>
                <th>Nazwa</th>
                <th class="th-rounded">Kategoria</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (Product product in Model)
                {
                    productIndex++;

                    <tr>
                        <td class="py-2">@productIndex</td>
                        <td class="py-2">
                            <p class="latest-product-name text-truncate text-nowrap">@product.Name</p>
                        </td>
                        <td class="py-2">@product.Category.Name</td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td class="py-2" colspan="3">
                        <p class="latest-product-name text-truncate text-nowrap">Brak produktów </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>