﻿@model ElectronicsStore.Models.ProductPager

<div class="product-list-container assortment-card">
    <div class="list-header">
        <h4 class="assortment-heading text-nowrap">Lista produktów</h4>
        @await Html.PartialAsync("/Views/Partials/Admin/_Pager.cshtml", Model.Pager)
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="th-rounded">Nazwa</th>
                <th>Kod produktu</th>
                <th>Kategoria</th>
                <th>Ilość</th>
                <th class="th-rounded text-nowrap">Oferta specjalna</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products.Count() > 0)
            {
                foreach (Product product in Model.Products)
                {
                    <tr class="list-row">
                        <td class="list-name">
                            <div class="list-name-edit-container">
                                <a asp-controller="Assortment" asp-action="EditProduct" asp-route-id="@product.ProductId" class="list-name-edit">
                                    <div class="text-truncate">@product.Name</div>
                                    <img src="/icons/pencil.svg" class="list-name-edit--icon" alt="Edytuj" />
                                </a>
                                <a asp-controller="ProductCard" asp-action="Index" asp-route-id="@product.ProductId" class="list-name-edit-preview">
                                    <img src="/icons/eye-primary.svg" class="list-name-edit-preview--icon" alt="Pokaż" />
                                </a>
                            </div>
                        </td>
                        <td>@product.Code</td>
                        <td>@product.Category.Name</td>
                        <td>@product.Quantity szt.</td>
                        <td class="text-nowrap">
                            @if (product.SpecialOffer == SpecialOffer.Promotion)
                            {
                                <span class="special-offer--promotion">Promocja</span>
                            }
                            else if (product.SpecialOffer == SpecialOffer.New)
                            {
                                <span class="special-offer--new">Nowość</span>
                            }
                            else if (product.SpecialOffer == SpecialOffer.Outlet)
                            {
                                <span class="special-offer--outlet">Outlet</span>
                            }
                            else
                            {
                                <span class="special-offer--no">Brak</span>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="list-row cursor-default">
                    <td class="list-name" colspan="5">
                        <span class="ps-2">Brak produktów</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>