﻿@model ElectronicsStore.Models.AssortmentProductsView

<div class="special-offers-counters-container">
    <div class="special-offers-counter-container assortment-card">
        <h4 class="assortment-heading">Promocja</h4>
        <p class="special-offers-counter special-offers-counter--promotion">
            @Model.ProductsOnPromotion.Count()
        </p>
    </div>
    <div class="special-offers-counter-container assortment-card">
        <h4 class="assortment-heading">Nowość</h4>
        <p class="special-offers-counter special-offers-counter--new">
            @Model.NewProducts.Count()
        </p>
    </div>
    <div class="special-offers-counter-container assortment-card">
        <h4 class="assortment-heading">Outlet</h4>
        <p class="special-offers-counter special-offers-counter--outlet">
            @Model.OutletProducts.Count()
        </p>
    </div>
</div>