﻿<div class="toolbar-container">
    <div>
        <h3 class="toolbar-subtitle">Asortyment</h3>
        <h2 class="toolbar-title">Produkty</h2>
    </div>
    <div class="toolbar-actions">
        <a asp-action="AddProduct" class="btn primary-btn">
            <img src="/icons/plus.svg" alt="Plus" />
            <span>Dodaj produkt</span>
        </a>
    </div>
</div>