﻿.banner-slider {
    background-color: var(--primary);
    height: 23.5rem;
    width: 100%;
    margin-top: 2.25rem;
    border-radius: 0.75rem;
}

.banner-controls {
    display: flex;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    gap: 1.25rem;
    user-select: none;
}

.banner-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    font-size: 1rem;
    color: var(--white);
}

.banner-navigation {
    display: flex;
    gap: 0.75rem;
}

.banner-arrow {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.5rem;
    background-color: transparent;
    margin: auto;
    border: 1px solid var(--white);
    border-radius: 0.25rem;
    cursor: pointer;
    z-index: 100;
}

.banner-arrow img {
    width: 1.25rem;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



