﻿.home-page {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.home-container {
    width: 100%;
    position: relative;
    background-color: var(--white);
    padding: 1.75rem;
    border-radius: 0.75rem;
}

.home-container .heading {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
}