﻿.news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    margin-top: 1.75rem;
}

.single-news {
    display: block;
    padding: 1rem 1rem 1.5rem 1rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
    user-select: none;
}

.single-news img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 13.5rem;
    border-radius: 0.5rem;
}

.single-news p {
    height: 4em;
    display: -webkit-box;
    text-overflow: ellipsis;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.single-news span {
    color: var(--gray-800);
}

