﻿.product-slider {
    margin: 1.75rem 2.25rem 1rem 2.25rem;
    user-select: none;
}

.product-slider .swiper-slide {
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
}

.product-slider-navigation {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: 0.5rem;
}

.product-slider-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.375rem;
    height: 2.125rem;
    background-color: var(--primary-100);
    border: 1px solid var(--primary-100);
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
}

.product-slider-arrow img {
    height: 1rem;
}

.product-slider-arrow:hover {
    background-color: rgba(249, 221, 226, 0.8);
}

.product-slider-content {
    display: block;
    position: relative;
    padding: 1rem;
}

.product-slider-content .prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 77px;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    color: var(--gray-800);
    font-size: 0.9rem;
    line-height: 1rem;
}

.product-slider-content .prices .old-price {
    font-weight: 500;
    text-decoration: line-through;
    text-decoration-color: var(--gray-800);
}

.product-slider-content .prices .old-price span:first-of-type {
    font-weight: 600;
}

.product-slider-content .prices .price {
    line-height: 1.5rem;
}

.product-slider-content .prices .price span:first-of-type {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
}

.product-slider-content .product-img {
    position: relative;
    width: 100%;
    max-height: 10.75rem;
    object-fit: contain;
    object-position: center;
}

.product-slider-content .product-name {
    height: 3.5rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    padding-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}