﻿.product-card-description-container {
    display: flex;
    flex-direction: column;
}

.product-card-description-content {
    padding-top: 2.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    overflow: hidden;
}

.product-card-description-content img {
    max-width: 100%;
}
