﻿.fullscreen-slider-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    z-index: 10002;
}

.fullscreen-slider-container.active {
    visibility: visible;
}

.fullscreen-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 2.5rem 1.75rem 2.5rem;
}

.fullscreen-slider-close {
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
}

.fullscreen-slider-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.fullscreen-slider-content {
    position: relative;
    max-width: 41.25rem;
}

.fullscreen-slider {
    width: 100%;
    object-fit: contain;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
}

.fullscreen-slider div{
    max-height: 36rem;
}

.fullscreen-slider--thumbs {
    margin-top: 1.5rem;
}

.fullscreen-slide-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px !important;
    height: 72px;
    padding: 2px;
    border: 1px solid var(--gray-300);
    border-radius: 0.25rem;
    cursor: pointer;
}

.fullscreen-slide-thumb.swiper-slide-thumb-active {
    border-color: var(--primary);
}

.fullscreen-slide-image {
    width: 100%;
    max-height: 36rem;
    object-fit: contain;
    object-position: center;
}

.fullscreen-slide-thumb--image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.fullscreen-slider-pagination {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75rem;
}

.fullscreen-slider-arrow {
    position: absolute;
    top: calc(50% - 3rem);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.25rem;
    height: 3rem;
    background-color: var(--primary-100);
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    z-index: 10003;
}

.fullscreen-slider-arrow:hover {
    background-color: var(--primary-150);
    transition: background-color .2s ease-in-out;
}

.fullscreen-slider-arrow.swiper-button-disabled {
    visibility: hidden;
}

.fullscreen-slider-arrow img {
    height: 1.25rem;
}

.fullscreen-slider-arrow-prev {
    left: -5.5rem;
}

.fullscreen-slider-arrow-next {
    right: -5.5rem;
}

