﻿.information-and-photos-container  {
    height: min-content;
}

.tab-container {
    display: flex;
    flex-basis: 50%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: var(--gray-100);
}

.tab-container.active {
    background-color: var(--gray-100);
}

.tab-container.inactive {
    background-color: var(--white);
}

.tab {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 9.5px;
    cursor: pointer;
}

.tab-name {
    color: var(--gray-900);
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.tab-icon {
    display: flex;
    width: 1.2rem;
    height: 1.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
 
.tab-container.active .tab {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: var(--white);
}

.tab-container.active .tab-name {
    color: var(--primary);
}

.information-tab-container.inactive .tab {
    border-bottom-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    background-color: var(--gray-100);
}

.photos-tab-container.inactive .tab {
    border-bottom-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: var(--gray-100);
}

.photos-tab .tab-icon {
    background-image: url("/icons/pictures.svg");
}

.photos-tab-container.active .tab-icon {
    background-image: url("/icons/pictures-primary.svg");
}

.information-tab .tab-icon {
    background-image: url("/icons/information.svg");
}

.information-tab-container.active .tab-icon {
    background-image: url("/icons/information-primary.svg");
}

.tab-content {
    padding: 2.25rem 1.5rem 4rem 1.5rem;
}

.tab-content-table {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    overflow: hidden;
}

.tab-content-table thead {
    background-color: var(--gray-100);
}

.tab-content-table thead,
.tab-content-table tbody,
.tab-content-table th,
.tab-content-table td
{
    padding: 0.625rem 1rem;
    border: 1px solid var(--gray-100);

}

.tab-content-table th {
    color: var(--black);
    font-weight: 600;
}

.tab-content-table tr td:first-child {
    color: var(--gray-800);
    font-weight: 500;
}

.tab-content-table tr td:last-child {
    color: var(--black);
    font-weight: 600;
}

.tab-content-photos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10.5rem, 1fr));
    grid-gap: 1.5rem;
}

.tab-content-photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 10.5rem;
    padding: 0.5rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
    cursor: pointer;
}

.tab-content-action-buttons {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1rem;
}

.tab-content-photo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

.tab-content-photo-btn:hover {
    background-color: var(--primary-200);
}

.tab-content-photo-btn img{
    width: 1.125rem;
}

.tab-content-photo img {
    object-fit: contain;
    transition: transform .2s ease-in-out;
}

.tab-content-photo:hover img {
    transform: scale(1.05);
}

.tab-content-photo:hover .tab-content-action-buttons {
    visibility: visible;
}




