﻿.product-card-main--images {
    width: 19.5rem;
}

.product-card-slider {
    position: relative;
    width: 100%;
    height: 326px;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
    cursor: pointer;
}

.product-card-slide-image {
    width: 100%;
    height: 100%;
    margin: 1rem;
    object-fit: contain;
    transition: transform .2s ease-in-out;
}

.product-card-slider:hover .product-card-slide-image {
    transform: scale(1.05);
}

.product-card-slider:hover .product-card-slider-arrow-prev-container,
.product-card-slider:hover .product-card-slider-arrow-next-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: min-content;
}

.product-card-slider-arrow-prev-container {
    left: 0;
    padding-left: 1rem;
}

.product-card-slider-arrow-next-container {
    right: 0;
    padding-right: 1rem;
}

.product-card-slider-arrow-prev-container,
.product-card-slider-arrow-next-container {
    display: none;
    z-index: 10;
}

.product-card-slider-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.375rem;
    height: 2.125rem;
    background-color: var(--primary-100);
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}

.product-card-slider-arrow:hover {
    background-color: var(--primary-150);
    transition: background-color .2s ease-in-out;
} 

.product-card-slider-arrow.swiper-button-disabled {
    visibility: hidden;
}

.product-card-slider-arrow img {
    height: 1rem;
}

.product-card-slider--thumbs {
    padding-top: 1rem;
}

.product-card-slide-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 72px;
    padding: 2px;
    border: 1px solid var(--gray-300);
    border-radius: 0.25rem;
    cursor: pointer;
}

.product-card-slide-thumb.swiper-slide-thumb-active {
    border-color: var(--primary);
}

.product-card-slide-thumb--image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.product-card-main--info {
    display: flex;
    flex-direction: column;
}

.product-card-name {
    font-size: 21px;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card-code {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
}

.product-card-prices {
    display: flex;
    flex-direction: column;
    height: 7.5rem;
}

.product-card-prices--old-price {
    color: var(--gray-800);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-decoration: line-through;
    text-decoration-color: var(--gray-800);
}

.product-card-prices--old-price span:first-of-type {
    font-weight: 600;
}

.product-card-prices--current-price span:first-of-type {
    color: var(--primary);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.75rem;
    margin-right: 0.25rem;
}

.product-card-prices--current-price span:last-of-type {
    color: var(--gray-800);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.availibity-icon {
    width: 0.75rem;
}

.product-card-availability-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.availability-status {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25;
    margin-left: 10px;
    margin-right: 0.25rem;
}

.availability-status {
    font-weight: 600;
}

.availability-status--no {
    color: var(--gray-800);
}

.availability-status--small {
    color: var(--primary);
}

.availability-status--medium {
    color: var(--yellow-100);
}

.availability-status--big {
    color: var(--green-100);
}

.quantity-status {
    color: var(--gray-900);
}

.availability-quantity-status {
    display: flex;
    align-items: center;
    margin-top: 11px;
}

.product-card-counter {
    display: flex;
    height: 2.5rem;
    width: min-content;
    border: 1px solid var(--gray-300);
    border-radius: 0.25rem;
}

.product-card-counter--input {
    width: 38px;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid var(--gray-300);
    border-right: 1px solid var(--gray-300);
    outline: none;
    font-size: 0.75rem;
    text-align: center;
}

.product-card-counter--input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.product-card-counter--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    background-color: var(--gray-100);
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

.product-card-counter--input,
.product-card-counter--button {
    color: var(--black);
    line-height: 1.25rem;
    font-weight: 500;
}

.add-to-cart-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    margin-top: 1.75rem;
}

.add-to-cart-button {
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.add-to-cart-button img {
    width: 1.125rem;
}
