﻿.product-card {
    display: grid;
    grid-template-columns: minmax(42rem, 45rem) minmax(32rem, auto);
    grid-gap: 1.25rem;
}

@media (min-width: 1600px) {
    .product-card {
        grid-template-columns: minmax(42rem, 56rem) minmax(32rem, auto);
    }
}

.product-card-container {
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
}

.product-card-heading {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.product-card-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
