﻿.similar-product-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.similar-products-slider {
    width: 100%;
    margin-top: 1.75rem;
}

.similar-product-slide {
    height: min-content;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
}

.similar-product-slide-content {
    position: relative;
    display: block;
    padding: 1rem;
}

.similar-product-img-wrapper {
    position: relative;
    height: 8.5rem;
}

.similar-product-img {
    width: 100%;
    max-height: 8rem;
    object-fit: contain;
    object-position: center;
}

.similar-product-name {
    height: 3.25rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    padding-top: 0.75rem;
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.similar-product-prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    color: var(--gray-800);
    font-size: 11px;
    line-height: 1rem;
}

.similar-product-prices--old-price {
    font-weight: 500;
    text-decoration: line-through;
    text-decoration-color: var(--gray-800);
}

.similar-product-prices--old-price span:first-of-type {
    font-weight: 600;
}

.similar-product-prices--price {
    line-height: 1.25rem;
}

.similar-product-prices--price span:first-of-type {
    color: var(--primary);
    font-size: 13px;
    font-weight: 600;
}

.similar-product--see-btn {
    justify-content: center;
    gap: 1rem;
    display: flex;
    background-color: var(--primary);
    padding: 0.625rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.similar-product--see-btn:hover {
    background-color: var(--primary-200);
}

.similar-product--see-btn img {
    width: 15px;
}

.similar-product--see-btn span {
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.similar-products-slider-navigation {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: 0.5rem;
}

.similar-products-slider-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.125rem;
    background-color: var(--primary-100);
    border: 1px solid var(--primary-100);
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
}

.similar-products-slider-arrow:hover {
    background-color: rgba(249, 221, 226, 0.8);
}

.similar-products-slider-arrow img {
    height: 14px;
}


