﻿.admin-container {
    display: grid;
    grid-template-columns: 15.5rem auto;
    min-height: calc(100vh - 291px);
}

.admin-container-body {
    padding: 1.5rem;
}

.photo-restrictions-list-heading,
.photo-restrictions-list-item {
    margin: 0;
    font-size: 0.75rem;
    color: var(--gray-700);
    font-weight: 500;
    line-height: 1.5rem;
}

.photo-restrictions-list-item {
    list-style: disc;
}



