﻿.list-container {
    grid-area: productList;
    padding: 1.5rem 1rem 1.25rem 1.5rem;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.list-row {
    cursor: pointer;
}

.list-name {
    max-width: 30vw;
    padding: 0.5rem 0.5rem !important;
}

.list-name-edit-container {
    display: flex;
    gap: 0.5rem;
}

.list-name-edit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: calc(100% - 40px);
    width: min-content;
    padding: 0.375rem 0.5rem;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.list-name-edit--icon,
.list-name-edit-preview--icon {
    width: 13px;
    height: 13px;
}

.list-name-edit--icon {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.list-name-edit-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    background-color: var(--primary-100);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.list-row:hover .list-name-edit-preview {
    opacity: 1;
}

.list-row:hover .list-name-edit {
    background-color: var(--primary-100);
    color: var(--primary)
}

.list-row:hover .list-name-edit--icon {
    opacity: 1;
}
