﻿.accordion {
    background-color: var(--white);
    padding-top: 3rem;
    border-top: 1px solid var(--gray-300);
    border-right: 1px solid var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
}

.accordion-item {
    border: none;
    border-radius: 0;
}

.accordion-button,
.accordion-body--item {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
}

.accordion-button {
    color: var(--black);
    padding: 0.75rem 1.125rem 0.75rem 3.25rem;
}

.accordion-button:focus {
    outline: none;
    z-index: 1;
    border: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--primary);
    background-color: inherit;
    box-shadow: none;
}

.accordion-button::after {
    width: 0.75rem;
    height: 0.75rem;
    background-size: 0.75rem;
    background-image: url("/icons/chevron-down.svg")
}

.accordion-button:not(.collapsed)::after {
    background-image: url("/icons/chevron-down-primary.svg")
}

.accordion-button--icon {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    background-repeat: no-repeat;
    margin-right: 1.125rem;
}

.assortment-icon {
    background-image: url("/icons/assortment.svg");
}

.article-icon {
    background-image: url("/icons/article.svg");
}

.accordion-button:not(.collapsed) .assortment-icon {
    background-image: url("/icons/assortment-primary.svg");
}

.accordion-button:not(.collapsed) .article-icon {
    background-image: url("/icons/article-primary.svg");
}

.accordion-body {
    padding: 0 0 0 3.25rem;
}

.accordion-body--item {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    padding: 0.625rem 1rem 0.625rem 0;
}

.accordion-body--item-link {
    color: var(--gray-800);
}

.accordion-body--item-link .fa-plus {
    font-size: 11px;
}

.accordion-body--item-link:hover {
    color: var(--black);
}

.accordion-body--item::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--primary);
    border-radius: 50%;
    visibility: hidden;
}

.accordion-body--item.active::before {
    visibility: visible;
}


.accordion-body--item.active .accordion-body--item-link{
    color: var(--black);
}






