﻿.toolbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-top: 1px solid var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
}

.toolbar-subtitle {
    margin-bottom: 0.25rem;
    color: var(--gray-800);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
}

.toolbar-title {
    margin: 0;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.toolbar-actions {
    display: flex;
    gap: 0.5rem;
}

