﻿@model ElectronicsStore.Models.ProductCardView

@await Html.PartialAsync("/Views/Partials/ProductCard/_Breadcrumb.cshtml", Model)

<div class="product-card">
    <div class="product-card-left">
        @await Html.PartialAsync("/Views/Partials/ProductCard/_Main.cshtml", Model.Product)
        @await Html.PartialAsync("/Views/Partials/ProductCard/_Description.cshtml", Model.Product)

        @if (Model.SimilarProducts.Count() > 0)
        {
            @await Html.PartialAsync("/Views/Partials/ProductCard/_SimilarProducts.cshtml", Model.SimilarProducts)
        }
    </div>
    @await Html.PartialAsync("/Views/Partials/ProductCard/_InformationAndPictures.cshtml", Model)
</div>

@await Html.PartialAsync("/Views/Partials/ProductCard/_FullscreenSlider.cshtml", Model.Product)

