﻿.assortment-heading {
    margin: 0;
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.assortment-card {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
}
