﻿.pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2.5rem;
}

.pagination {
    gap: 0.25rem;
}

.page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.page-item.active .page-link {
    background-color: var(--primary-100);
    color: var(--primary);
    font-weight: 600;
}

.page-link {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 !important;
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-link:hover,
.page-link:focus {
    color: var(--black);
    background-color: transparent;
    box-shadow: none;
}

.pagination-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-navigation-image--previous,
.pagination-navigation-image--next {
    height: 14px;
    padding-left: 0.75rem;
}

.pagination-navigation-image--previous {
    transform: rotate(180deg);
}
