﻿.breadcrumb-container {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.breadcrumb-item,
.breadcrumb-item + .breadcrumb-item::before {
    font-weight: 500;
    color: var(--gray-700);
    line-height: 1rem;
}

.breadcrumb-item:hover {
    color: var(--primary-300);
}

.breadcrumb-item.active {
    color: var(--primary);
}

.products-heading-name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0;
}

.products-view-container {
    display: grid;
    grid-template-columns: 21rem auto;
    grid-gap: 1.5rem;
    padding-top: 1.5rem;
}

.products-view-container .categories-container {
    padding: 1.5rem 2.125rem 2rem 1.5rem;
    height: max-content;
}

.products-view-container .categories-container .heading {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 0;
}

.products-view-container .categories-container .categories-list {
    padding-top: 1rem;
    margin-bottom: 0;
}

.categories-container .categories-list .categories-item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.categories-container .categories-list .categories-item a {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.categories-container .categories-list .categories-item.active a
{
    color: var(--primary);
}

.card-container {
    background-color: var(--white);
    border-radius: 0.75rem;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
}

.products-container {
    padding: 2rem 1.5rem 1.875rem 1.5rem;
}

.tiles-container {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 0;
}

.tiles-view {
   grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.list-view {
    grid-template-columns: auto;
}

.tiles-container .tile {
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
}

.tiles-container .tile .tile-link {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1.5rem 1rem;
}

.tiles-view .tile .tile-link {
    flex-direction: column;
}

.list-view .tile .tile-link {
    justify-content: space-between;
    gap: 10%;
}

.tiles-container .tile .tile-img {
    width: 14rem;
    height: 10rem;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.tiles-container .tile .tile-title {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 0;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tiles-container .tile .product-name {
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-view .tile .product-name {
    height: auto;
    font-size: 1rem;
}

.tiles-view .product-code {
    display: none;
}

.list-view .product-code {
    display: inline;
    padding-top: 6px;
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}


.list-view .image-and-name-container {
    display: flex;
    padding-right: 2rem;
}

.list-view .price-and-button-container {
    align-self: end;
}

.list-view .name-code-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.tiles-view .availability-info {
    display: none;
}

.list-view .availability-info {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}

.tile .prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 2.5rem;
    margin-bottom: 0.75rem;
    color: var(--gray-800);
    font-size: 11px;
    line-height: 1rem;
}

.tile .prices .old-price {
    font-weight: 500;
    text-decoration: line-through;
    text-decoration-color: var(--gray-800);
}

.tile .prices .old-price span:first-of-type {
    font-weight: 600;
}

.tile .prices .price {
    line-height: 1.5rem;
}

.tile .prices .price span:first-of-type {
    color: var(--primary);
    font-size: 13px;
    font-weight: 600;
}

.view-control-panel {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 0.75rem;
}

.view-control-buttons {
    display: flex;
    gap: 0.75rem;
}

.tiles-view-button .tiles-icon,
.list-view-button .list-icon {
    width: 1.125rem;
    height: 1.125rem;
}

.tiles-view-button .tiles-icon {
    background-image: url("/icons/tiles.svg");
}

.tiles-view-button.active .tiles-icon {
    background-image: url("/icons/tiles-active.svg");
}

.list-view-button .list-icon {
    background-image: url("/icons/list.svg");
}

.list-view-button.active .list-icon {
    background-image: url("/icons/list-active.svg");
}

.no-products-info {
    color: var(--black);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.no-products-info--add {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}

.no-products-info--add-text {
    font-size: 0.85rem;
    color: var(--primary);
    font-weight: 600;
    line-height: 2rem;
    transition: color 0.15s ease-in-out;
    white-space: nowrap;
}

.no-products-info--add-icon {
    content: url("/icons/plus-primary.svg");
    width: 1rem;
    height: 1rem;
}

.no-products-info--add:hover .no-products-info--add-text {
    color: var(--primary-200);
}

.no-products-info--add:hover .no-products-info--add-icon {
    content: url("/icons/plus-primary-200.svg");
}




