﻿<div class="assortment-card article-card-container">
    <h3 class="assortment-heading">Informacje podstawowe</h3>
    <div class="form-group-article--title">
        <label for="article-title" class="form-label form-label--article--required mb-3">Tytuł</label>
        <div class="w-100">
            <input id="article-title" maxlength="600" class="form-control form-control--article w-100 js-articleTitleInput" />
            <span class="form-explanation js-numberCharactersToUseArticleName"></span>
        </div>
    </div>
    <div class="form-group-article--image">
        <div class="d-flex">
            <p class="form-label form-label--article--required mb-3">Grafika artykułu</p>
            <div class="article-image-wrapper empty js-articleImageWrapper">
                <img class="article-image js-articleImage" />
                <div class="article-image-wrapper--overlay">
                    <label for="article-image" class="article-image--action">
                        <img src="/icons/edit.svg">
                    </label>
                </div>
                <label for="article-image" class="article-image-link-wrapper">
                    <img src="/icons/plus-primary.svg" alt="Dodaj grafike artykułu">
                    <span>Dodaj grafikę</span>
                </label>
                <input type="file" id="article-image" class="photo-uploader-input js-articleImageUploader" accept="image/*">
            </div>
            <ul class="ms-5">
                <li class="photo-restrictions-list-item col-7">Aby dodać zdjęcie wgraj plik .JPEG, .JPG, .PNG lub .SVG</li>
            </ul>
        </div>
        <div class="form-group-article--image-alternative-text">
            <label for="article-title" class="form-label form-label--article">Tekst alternatywny grafiki</label>
            <input id="article-title" class="form-control form-control--article js-articleImageAlternativeTitleInput" />
        </div>
    </div>
    <div class="form-group-article--content">
        <p class="form-label form-label--article--required mb-3">Treść</p>
        <textarea name="articleDescription" class="ckeditor js-articleContentTextarea" rows="200"></textarea>
    </div>
</div>

<script>$(document).ready(function () {
        CKEDITOR.replace('#articleDescription');
    });
</script>
