﻿<div class="assortment-card article-card-container article-publication-card-container">
    <h3 class="assortment-heading">Publikacja</h3>
    <div class="form-group-article--recommended">
        <p class="form-label form-label--article">Polacany</p>
        <div class="form-check form-check--article-list form-switch">
            <input class="form-check-input js-articleRecommendedSwitch" type="checkbox" role="switch">
        </div>
    </div>
    <div class="form-group-article--publication-date">
        <p class="form-label form-label--article">Data publikacji</p>
        <span class="publiaction-date">@DateTime.Now.Day.ToString("00") @DateTime.Now.ToString("MMMM", CultureInfo.CreateSpecificCulture("pl")) @DateTime.Now.Year</span>
    </div>
</div>