﻿<div class="toolbar-container">
    <div>
        <h3 class="toolbar-subtitle">Artykuły</h3>
        <h2 class="toolbar-title">Dodaj artykuł</h2>
    </div>
    <div class="toolbar-actions">
        <button type="submit" class="btn primary-btn js-saveArticleButton">
            <img src="/icons/save-white.svg" alt="Save" />
            <span>Zapisz</span>
        </button>
    </div>
</div>