﻿.all-articles-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.abridged-article {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    cursor: pointer;
}

.abridged-article--picture {
    width: 100%;
    height: 26.5rem;
    border-radius: 0.25rem;
    object-fit: cover;
}

.abridged-article--content {
    padding: 0 1rem;
}

.abridged-article--content-date {
    color: var(--gray-800);
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.abridged-article--content-title {
    color: var(--black);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.75rem;
    margin-top: 0.5rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.abridged-article--content-text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 0.5rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.abridged-article--content-read-more {
    display: flex;
    gap: 10.25px;
    margin-top: 1.25rem;
    text-decoration: none;
}

.abridged-article--content-read-more span {
    color: var(--primary);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    transition: color .05s ease-in-out;
}

.abridged-article--content-read-more:hover span {
    color: var(--primary-200);
}

.abridged-article--content-read-more img {
    width: 14px;
}


.all-articles-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}