﻿.article-container {
    padding: 2.5rem 12.5rem 6.75rem 12.5rem;
}

.article-date {
    color: var(--gray-800);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.article-title {
    padding: 1.25rem 0;
    color: var(--black);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.article-main-picture {
    width: 100%;
    height: 29.5rem;
    border-radius: 0.25rem;
    object-fit: cover;
    object-position: center;
}

.article-content {
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    padding-top: 2.5rem;
    margin: 0;
}

.article-back-link {
    display: flex;
    gap: 10.25px;
    margin-top: 4.5rem;
    text-decoration: none;
}

.article-back-link span {
    color: var(--primary);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    transition: color .05s ease-in-out;
}

.article-back-link:hover span {
    color: var(--primary-200);
}

.article-back-link img {
    width: 14px;
}

.no-articles-info-container {
    padding: 1.5rem 10rem 7rem 1.5rem;
}

.no-articles-info {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    white-space: nowrap;
}

.no-articles-info--add {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}

.no-articles-info--add-text {
    font-size: 1rem;
    color: var(--primary);
    font-weight: 600;
    line-height: 2rem;
    transition: color 0.15s ease-in-out;
    white-space: nowrap;
}

.no-articles-info--add-icon {
    content:url("/icons/plus-primary.svg");
    width: 1.25rem;
    height: 1.25rem;
}

.no-articles-info--add:hover .no-articles-info--add-text {
    color: var(--primary-200);
}

.no-articles-info--add:hover .no-articles-info--add-icon {
    content: url("/icons/plus-primary-200.svg");
}