﻿.news-heading {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 2.25rem;
}

.news-container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-gap: 1.25rem;
    margin-top: 2.25rem;
}