﻿.recommended-articles-container {
    height: min-content;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.recommended-articles-heading {
    color: var(--black);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;   
}

.recommended-articles-list {
    margin-top: 0.75rem;
    list-style: none;
}

.recommended-article {
    display: flex;
    gap: 1.25rem;
    padding: 1rem 0;
    cursor: pointer;
}

.recommended-article:not(:first-child) {
    border-top: 1px solid var(--gray-200);
}

.recommended-article--picture {
    min-width: 10.75rem;
    height: 7rem;
    border-radius: 0.25rem;
}

.recommended-article--content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
}
.recommended-article--date {
    color: var(--gray-800);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.recommended-article--title {
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
