﻿@model ElectronicsStore.Models.News

@await Html.PartialAsync("/Views/Partials/News/_Breadcrumb.cshtml")
<div class="card-container article-container">
    <span class="article-date">@Model.Date.ToString("d")</span>
    <h2 class="article-title">@Model.Title</h2>
    <img src="@Url.Content(Model.ImageUrl)" alt="@Model.ImageTitle" class="article-main-picture" />
    <p class="article-content">@Html.Raw(Model.Content)</p>
    <a asp-action="Index" class="article-back-link">
        <img src="~/icons/arrow-left-primary.svg" alt="Arrow left" />
        <span>Powrót do aktualności</span>
    </a>
</div>