﻿@model ElectronicsStore.Models.NewsView

<h3 class="news-heading">Aktualności</h3>
<div class="news-container">
    @await Html.PartialAsync("/Views/Partials/News/_AllArticles.cshtml", Model.NewsPager)
    @if (Model.recommendedArticles.Count() > 0)
    {
        @await Html.PartialAsync("/Views/Partials/News/_RecommendedArticles.cshtml", Model.recommendedArticles)
    }
</div>