﻿.category-doughnut-container {
    grid-area: categoryDoughnut;
    padding: 1.5rem;
}


.category-doughnut-chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 21.125rem;
    margin: 2.5rem auto 0 auto;
}

.no-category-doughnut-chart-info {
    font-size: 2.75rem;
    color: var(--primary);
    font-weight: 600;
}