﻿.product-list-container {
    grid-area: productList;
    padding: 1.5rem 1rem 1.25rem 1.5rem;
}

.special-offer--promotion {
    color: var(--yellow-100);
}

.special-offer--new {
    color: var(--green-100);
}

.special-offer--outlet {
    color: var(--blue-100);
}

.special-offer--no {
    color: var(--gray-700);
}