﻿.assortment-products-container {
    display: grid;
    grid-template-areas: "latestProducts latestProducts latestProducts  categoryDoughnut categoryDoughnut categoryDoughnut"
                         "specialOffersCounter  specialOffersCounter specialOffersCounter categoryDoughnut categoryDoughnut categoryDoughnut"
                         "productList productList productList productList productList productList";
    grid-gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
}

