﻿.special-offers-counters-container {
    grid-area: specialOffersCounter;
    display: flex;
    gap: 1.5rem;
}

.special-offers-counter-container {
    padding: 1.5rem;
    flex-basis: 33%;
}

.special-offers-counter {
    padding-top: 0.875rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.special-offers-counter--promotion {
    color: var(--yellow-100);
}

.special-offers-counter--new {
    color: var(--green-100);
}

.special-offers-counter--outlet {
    color: var(--blue-100);
}