﻿.badge {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.125rem 0.625rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.news-badge {
    color: var(--green-100);
    background-color: var(--green-200);
}

.promotion-badge {
    color: var(--yellow-100);
    background-color: var(--yellow-200);
}

.outlet-badge {
    color: var(--blue-100);
    background-color: var(--blue-200);
}
