﻿.btn-link {
    text-decoration: none;
    color: inherit;
}

.btn-link:hover {
    background-color: var(--gray-100);
    text-decoration: none;
    color: inherit;
}

.btn-link:focus {
    text-decoration: none;
}


.btn-with-icon {
    display: flex;
    align-items: center;
    max-width: max-content;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.625rem 0.75rem;   
}

.btn-sm {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.primary-btn {
    min-width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.5px;
    background-color: var(--primary);
    padding: 0.625rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.primary-btn span {
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.primary-btn img {
    width: 15px;
}

.primary-btn:hover {
    background-color: var(--primary-200);
}

.see-product-btn {
    justify-content: center;
    gap: 1rem;
}

.see-product-btn img {
    width: 1.125rem;
}

.btn:focus {
    box-shadow: none;
}

.secondary-btn {
    min-width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.5px;
    background-color: var(--primary-100);
    padding: 0.625rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
}

.secondary-btn span {
    color: var(--primary);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.secondary-btn img {
   width: 15px;
}

.secondary-btn:hover {
    background-color: rgba(249, 221, 226, 0.8);
}

.outline-btn {
    min-width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.5px;
    background-color: var(--white);
    padding: 0.625rem 1rem;
    border: 1px solid var(--primary);
    border-radius: 0.25rem;
    cursor: pointer;
}

.outline-btn img {
    width: 15px;
}

.outline-btn span {
    color: var(--primary);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}
