﻿.ckeditor-wrapper {
    padding-top: 1.25rem;
}

.cke_chrome {
    border: 1px solid var(--gray-600) !important;
    border-radius: 0.5rem;
}

.cke_inner {
    border-radius: 0.5rem;
}

.cke_inner * {
    font-family: 'Spartan' !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    color: var(--black) !important;
}

.cke_top,
.cke_bottom {
    background-color: var(--white) !important;
}

.cke_top {
    border-bottom: 1px solid var(--gray-600) !important;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.cke_bottom {
    border-top: 1px solid var(--gray-600) !important;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-weight: 600 !important;
}

.cke_path a {
    font-weight: 600 !important;
}

.a.cke_button {
    padding: 0.25rem 0.5rem !important;
}

.cke_button_off:hover {
    background-color: var(--primary-100) !important;
    border: 1px var(--primary) solid !important;
    border-radius: 0.25rem;
}

.cke_combo_button:hover {
    border-color: transparent;
    background-color: var(--white) !important;
    border-radius: 0.25rem !important;
}

.cke_toolbar_separator {
    background-color: var(--black) !important;
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.cke_toolgroup .cke_button:last-child::after {
    border-right-color: var(--black) !important;
}

.cke_button_on {
    border: 1px solid var(--primary) !important;
    border-radius: 0.25rem;
}

.cke_path_item:hover {
    background-color: transparent !important;
}

.cke_combo::after {
    color: var(--black) !important;
    padding-left: 6px;
    padding-right: 6px;
}

.cke_panel {
    border: 1px solid var(--gray-600) !important;
    border-radius: 0.25rem;
}

.cke_notification_info {
    background-color: var(--primary) !important;
    border: 1.5px solid var(--primary-300) !important;
    border-radius: 0.25rem;
}

.cke_notification_message {
    font-family: 'Spartan' !important;
}

.cke_notification_close {
    top: 0.5rem !important;
    right: 0.5rem !important;
    background-image: url("/icons/close-white.svg") !important;
    opacity: 1 !important;
    height: 0.75rem !important;
    width: 0.75rem !important;
}

.cke_resizer {
    border-color: transparent var(--black) transparent transparent !important;
}