﻿:root {
    --body: #E6E6E6;
    --black: #333333;
    --gray-100: #F8F9FA;
    --gray-200: #F1F3F5;
    --gray-300: #EBEEF1;
    --gray-400: #717175;
    --gray-500: #CCCCCC;
    --gray-600: #DEE2E6;
    --gray-650: #D8DAE1;
    --gray-700: #A2A5AE;
    --gray-800: #717175;
    --gray-900: #4E4F55;
    --white: #FFFFFF;
    --primary: #DA1E37;
    --primary-100: #F9DDE2;
    --primary-150: #FAD7DD;
    --primary-200: #C71F37;
    --primary-300: #BD1F36;
    --yellow-100: #FC9E27;
    --yellow-200: #FEEBD2;
    --green-100: #30BE63;
    --green-200: #DAF6E4;
    --blue-100: #48CAE4;
    --blue-200: #CAF0F8;
}
