﻿.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--white);
    padding: 0.625rem 0.75rem;
    border: 1px solid var(--gray-600);
    border-radius: 0.25rem;
    cursor: pointer;
}

.dropdown-toggle::after {
    content: "";
    display: none;
}

.dropdown-toggle-text,
.dropdown-item {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--black);
}

.dropdown-toggle-icon {
    width: 0.75rem;
}

.dropdown-menu {
    width: 100%;
    padding: 0;
    margin-top: 0.25rem;
    border: 1px solid var(--gray-600);
    border-radius: 0.25rem;
}

.dropdown-menu-right {
    right: 0 !important;
}

.dropdown-item {
    padding: 0.875rem 1rem 0.875rem 1rem;
}

.dropdown-item:not(:last-child) {
    border-bottom: 1px solid var(--gray-100);
}

.dropdown-item:hover {
    background-color: var(--gray-100);
}

.dropdown-item:active {
    color: var(--black);
}

.sorting-product-dropdown {
    width: 15rem;
}