﻿.form-group {
    margin: 0;
}

.form-control,
.form-select,
.form-control:focus,
.form-select:focus {
    outline: none;
    box-shadow: none;
}

.form-control,
.form-select {
    min-height: 2.5rem;
    border: 1px solid var(--gray-600);
    border-radius: 0.25rem;
    font-size: 0.75rem;
    color: var(--black);
    font-weight: 400;
    line-height: 1.25rem;
}

.form-control:hover,
.form-select:hover {
    border-color: var(--gray-700);
}

.form-control:focus,
.form-select:focus {
    border-color: var(--primary);
}

.form-select {
    background-image: url("/icons/chevron-down-black.svg");
}

.form-select:focus {
    background-image: url("/icons/chevron-down-primary.svg");
}

.form-label {
    color: var(--gray-800);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 0.25rem;
}

.form-check-input {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    border: 2px solid var(--gray-500);
    transition: .15s ease-in-out;
}

.form-check-input:focus,
.form-check-input:hover {
    outline: none;
    box-shadow: none;
    border-color: var(--primary);
}

.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.form-check-label {
    margin-left: 0.5rem;
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.form-explanation {
    display: inline-block;
    margin-top: 0.25rem;
    font-size: 11px;
    color: var(--gray-700);
    font-weight: 500;
    line-height: 1rem;
}

.form-validation {
    display: inline-block;
    margin-top: 0.25rem;
    color: var(--primary-200);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.form-switch .form-check-input,
.form-switch .form-check-input:focus,
.form-switch .form-check-input:checked {
    min-width: 1.75rem;
    min-height: 1rem;
    background-image: url("/icons/circle.svg");
    background-color: var(--gray-500);
    border-color: var(--gray-500);
    transform: none;
}

.form-switch .form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.form-switch--big .form-check-input {
    width: 2rem;
    height: 1.25rem;
}

