﻿.modal-dialog {
    max-width: 40rem;
}

.modal-content {
    border: 0;
    border-radius: 0.5rem;
}

.modal-header {
    padding: 1.5rem 1.5rem 1.25rem 1.5rem;
    border-bottom: 1px solid var(--gray-200);
    border-radius: 0;
}

.modal-title {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75rem;
}

.modal-body {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.modal-footer {
    padding: 1.25rem 1.5rem 1.25rem 0;
    border: 0;
}

.btn-close,
.btn-close:hover {
    color: var(--black);
    opacity: 1;
}

.btn-close:focus {
    box-shadow: none;
}