﻿.table {
    margin-bottom: 0;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
}

thead {
    background-color: var(--gray-100);
}

tbody {
    border: none !important;
}

td,
th {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

th {
    padding: 0.625rem 1rem !important;
    border: 0;
    color: var(--gray-800);
    font-weight: 500;
}

td {
    padding: 0.875rem 1rem !important;
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
    color: var(--black);
    font-weight: 600;
}

th:first-of-type {
    border-top-left-radius: 0.5rem;
}

th:last-of-type {
    border-top-right-radius: 0.5rem;
}

th.th-rounded:first-of-type {
    border-bottom-left-radius: 0.5rem;
}

th.th-rounded:last-of-type {
    border-bottom-right-radius: 0.5rem;
}

td:first-of-type {
    border-left: 1px solid var(--gray-200);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

td:last-of-type {
    border-right: 1px solid var(--gray-200);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
