﻿.fs-1 {
    font-size: 0.75rem !important;
}

.fs-2 {
    font-size: 1rem !important;
}

.fs-3 {
    font-size: 1.25rem !important;
}

fs-4 {
    font-size: 1.5rem !important;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.line-height-18 {
    line-height: 1.125rem;
}

.line-heigt-20 {
    line-height: 1.25rem;
}

.line-height-24 {
    line-height: 1.5rem;
}


