﻿.toast {
    min-width: 22rem;
    max-width: 28rem;
    background-color: var(--white);
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 0.25rem solid var(--yellow-100);
    z-index: 999999;
}

.toast-content {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.25rem;
}

.toast-content-text {
    display: flex;
    flex-direction: column;
    column-gap: 0.25rem;
    padding: 0 1.5rem;
}

.toast-content--icon {
    width: 1.125rem;
    height: 1.125rem;
}

.toast-content--heading {
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.toast-content--description {
    color: var(--gray-800);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
}