﻿@model ElectronicsStore.Models.NewsPager

<div class="all-articles-container @(@Model.News.Count() < 4 ? " mb-5" : "")">
    @if (Model.News.Count() > 0)
    {
        @foreach (News news in Model.News)
        {
            <a asp-action="Article" asp-route-id="@news.NewsId" class="abridged-article card-container">
                <img src="@Url.Content(news.ImageUrl)" alt="@news.ImageTitle" class="abridged-article--picture" />
                <div class="abridged-article--content">
                    <h5 class="abridged-article--content-date">@news.Date.ToString("d")</h5>
                    <h2 class="abridged-article--content-title">@news.Title</h2>
                    <p class="abridged-article--content-text">@HtmlAgilityHelper.HtmlToPlainText(news.Content)</p>
                    <div class="abridged-article--content-read-more">
                        <span>Czytaj dalej</span>
                        <img src="~/icons/arrow-right-primary.svg" alt="Arrow right" />
                    </div>
                </div>
            </a>
        }
    }
    else
    {
        <div class="card-container no-articles-info-container">
            <p class="no-articles-info">Brak aktualności</p>
            @if (User.IsInRole(RoleHelper.Admin))
            {
                <a asp-controller="Article" asp-action="AddArticle" class="no-articles-info--add">
                    <span class="no-articles-info--add-text">Dodaj artykuł</span>
                    <img class="no-articles-info--add-icon" />
                </a>
            }
        </div>
    }

    @if (Model.News.Count() > 3)
    {

        @await Html.PartialAsync("/Views/Partials/News/_Pager.cshtml", Model)
    }
</div>
