﻿<nav class="breadcrumb-container" aria-label="breadcrumb">
    <div class="breadcrumb">
        <a class="breadcrumb-item" asp-controller="Home" asp-action="Index">Strona główna</a>
        <a class="breadcrumb-item" asp-action="Index" >Aktualności</a>
    </div>
</nav>