﻿@model ElectronicsStore.Models.NewsPager

@{
    Pager pager = new Pager();

    int pageNo = 0;

    if (Model.Pager != null)
    {
        pager = Model.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="all-articles-pagination">
    @if (pager.TotalPages > 0)
    {
    <ul class="pagination jusfify-content-end">
        @if (pager.CurrentPage > 1)
        {
            <li class="pagination-navigation">
                <a asp-route-page="@(pager.CurrentPage - 1)">
                    <img src="~/icons/pagination-navigation.svg" class="pagination-navigation-image--previous" />
                </a>
            </li>
        }


        @for (int currentPage = pager.StartPage; currentPage <= pager.EndPage; currentPage++)
        {
            <li class="page-item  @(currentPage == pager.CurrentPage ? "active" : "")">
                <a class="page-link" asp-route-page="@currentPage">@currentPage</a>
            </li>
        }

        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="pagination-navigation">
                <a  asp-route-page="@(pager.CurrentPage + 1)">
                    <img src="~/icons/pagination-navigation.svg" class="pagination-navigation-image--next" />
                </a>
            </li>
         }
    </ul>
    }
</div>