﻿@model List<ElectronicsStore.Models.News>

<div class="recommended-articles-container card-container">
    <h4 class="recommended-articles-heading">Polecane artykuły</h4>
    <div class="recommended-articles-list">
        @foreach (News news in Model)
        {
            <a asp-action="Article" asp-route-id="@news.NewsId" class="recommended-article">
                <img src="@Url.Content(news.ImageUrl)" alt="@news.ImageTitle" class="recommended-article--picture" />
                <div class="recommended-article--content">
                    <span class="recommended-article--date">@news.Date.ToString("d")</span>
                    <span class="recommended-article--title">@news.Title</span>
                </div>
            </a>
        }
    </div>  
</div>