﻿<footer>
    <div class="d-flex flex-column justify-content-between">
        <img src="~/icons/logo.png" alt="Company logo" class="company-logo" />
        <div class="text-nowrap">
            <span class="fw-500">Powered by</span>
            <span class="creator ps-1">Artur Mleczko</span>
        </div>
    </div>
    @await Component.InvokeAsync("Affiliates")
</footer>
