﻿<ul class="nav-bar">
    <li class="category-link-container">
        <a class="btn btn-link btn-with-icon category-menu-link">
            <img alt="Kategorie" class="category-icon" />
            <span class="fs-1 line-height-20 fw-500 ps-2 text-nowrap category-menu-name">Kategorie</span>
        </a>
    </li>
    <li class="px-2">
        <a asp-controller="News" asp-action="Index" class="btn btn-link btn-with-icon">
            <span class="fs-1 line-height-20 fw-500 text-nowrap">Aktualności</span>
        </a>
    </li>

    @if (User.IsInRole(RoleHelper.Admin))
    {
        <li class="admin-panel-container">
            <a asp-controller="Assortment" asp-action="Products" class="btn btn-link">
                <span class="fs-1 line-height-20 fw-500 text-nowrap admin-panel">Panel administratora</span>
            </a>
        </li>
    }
</ul>