﻿@model ElectronicsStore.Models.ProductsView


@await Html.PartialAsync("/Views/Partials/Products/_Breadcrumb.cshtml", Model)

@if (Model.CurrentCategory != null && Model.CurrentCategory.Name != null && Model.CurrentCategory.Name.Length > 0)
{
    <h2 class="products-heading-name">@Model.CurrentCategory.Name (@Model.CurrentCategory.Products.Count())</h2>
}
else
{
    <h2 class="products-heading-name">Kategorie</h2>
}

<div class="products-view-container">
    @await Html.PartialAsync("/Views/Partials/Products/_CategoriesContainer.cshtml", Model)
    @await Html.PartialAsync("/Views/Partials/Products/_TilesContainer.cshtml", Model)
</div>
