﻿.category-link-container {
    padding: 1.375rem 1.625rem 1.375rem 2.5rem;
    border-right: 1px solid var(--gray-300);
}

.category-icon {
    content: url('/icons/list-ul.svg');
}

.category-link-container.active {
    background-color: var(--white);
    z-index: 1000;
}

.category-link-container.active .btn-link:hover {
    background-color: transparent;
}

.category-link-container .btn-link .category-icon {
    width: 14px;
    height: 14px;
    background-size: cover;
}

.category-link-container.active .btn-link .category-icon {
    content: url('/icons/close-primary.svg');
}

.category-link-container.active .btn-link .category-menu-name {
    color: var(--primary);
}

.category-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray-300);
    z-index: 50;
}

.category-menu.active {
    display: block;
}

.category-menu-list {
    padding: 1.375rem 0 1.375rem 3.25rem;
    margin: 0;
}

.category-item-link {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    cursor: pointer;
}

.category-item-link:hover .category-item-name {
    color: var(--primary);
}

.category-item-wrapper {
    position: relative;
    display: flex;
}

.category-item-link:hover .category-item-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.5rem;
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--primary);
}


.category-item-link .category-item-name,
.no-category-info {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin-left: 0.5rem;
}

.category-item-link .category-item-img {
    height: 1.25rem;
    width: 1.25rem;
}

.no-category-info--link{
    color: var(--primary);
}

.no-category-info--link:hover {
    color: var(--primary-200);  
}
