﻿footer {
    display: flex;
    background-color: var(--white);
    padding: 2rem 2.5rem;
    margin-top: auto;
}

.creator {
    font-weight: 700;
    color: var(--primary);
}

ul {
    list-style: none;
    padding-left: 0;
}

.affiliates {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 4rem;
    padding-right: 1.5rem;
    margin-bottom: 0;
}

.affiliates ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.affiliates ul li {
    color: var(--gray-400);
    font-weight: 600;
    line-height: 0.75rem;
}
