﻿header {
    background-color: var(--white);
}

.company-logo {
    height: 2.75rem;
    width: min-content;
}

main {
    position: relative;
    flex-grow: 1;
    padding: 0 2.5rem 2.25rem 2.5rem;
    height: 100%;
}

@media (min-width: 1600px) {
    main {
        padding-right: 6rem;
        padding-left: 6rem;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.1);
    z-index: 10;
}

.backdrop.active {
    display: block;
}
