﻿.nav-bar {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-right: 2.5rem;
    margin-bottom: 0;
    list-style: none;
}

.admin-panel-container {
    padding: 1.375rem 1.25rem;
    border-left: 1px solid var(--gray-300);
    height: 100%;
}

.admin-panel {
    color: var(--primary);
    font-weight: 600;
}


