﻿.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    border-bottom: 1px solid var(--gray-300);
}

.log-in-btn {
    display: flex;
    align-items: center;
    max-width: max-content;
    border-radius: 0.25rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 33.75rem;
    padding-left: 2.25rem;
    border-radius: 0.5rem;
}

.search-engine {
    height: 3rem;
    background-color: var(--gray-200);
    padding: 0.875rem 6.5rem 0.875em 1rem;
    border: 0 !important;
    border-radius: 0.5rem !important;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
    outline: none !important;
}

.search-engine:focus {
    background-color: var(--gray-200);
    box-shadow: none;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    padding: 0.875rem 1.875rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 100;
    cursor: pointer;
}

    