﻿@model ElectronicsStore.Models.NewsPager

<div class="article-list-container assortment-card">
    <div class="list-header">
        <h4 class="assortment-heading text-nowrap">Lista artykułów</h4>
        @await Html.PartialAsync("/Views/Partials/Admin/_Pager.cshtml", Model.Pager)
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="th-rounded article-title-field">Tytuł</th>
                <th>Data publikacji</th>
                <th>Polecany</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.News.Count() > 0)
            {
                foreach (News news in Model.News)
                {
                    <tr class="list-row js-articleListItem" data-article-id="@news.NewsId">
                        <td class="list-name">
                            <div class="list-name-edit-container">
                                <a asp-controller="Article" asp-action="EditArticle" asp-route-id="@news.NewsId" class="list-name-edit">
                                    <div class="text-truncate">@news.Title</div>
                                    <img src="/icons/pencil.svg" class="list-name-edit--icon" alt="Edytuj" />
                                </a>
                                <a asp-controller="News" asp-action="Article" asp-route-id="@news.NewsId" class="list-name-edit-preview">
                                    <img src="/icons/eye-primary.svg" class="list-name-edit-preview--icon" alt="Pokaż" />
                                </a>
                            </div>
                        </td>
                        <td>@news.Date.Day.ToString("00") @news.Date.ToString("MMMM", CultureInfo.CreateSpecificCulture("pl")) @news.Date.Year</td>
                        <td>
                            <div class="form-check form-check--article-list form-switch">
                                @if (news.isRecommended)
                                {
                                    <input class="form-check-input js-articleIsRecommendedSwitch" checked type="checkbox" role="switch">
                                }
                                else
                                {
                                    <input class="form-check-input js-articleIsRecommendedSwitch" type="checkbox" role="switch">
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="list-row cursor-default">
                    <td class="list-name" colspan="3">
                        <span class="ps-2">Brak artykułów</span>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>