﻿<div class="toolbar-container">
    <div>
        <h3 class="toolbar-subtitle">Artykuły</h3>
        <h2 class="toolbar-title">Artykuły</h2>
    </div>
    <div class="toolbar-actions">
        <a asp-action="AddArticle" class="btn primary-btn">
            <img src="/icons/plus.svg" alt="Plus" />
            <span>Dodaj artykuł</span>
        </a>
    </div>
</div>