﻿.account-settings-heading {
    padding: 2.25rem 0;
    color: var(--black);
    font-size: 21px;
    font-weight: 700;
    line-height: 2rem;
}

.user-information-container {
    display: flex;
    gap: 1.25rem;
}

.user-information {
    flex-basis: 50%;
    padding: 1.25rem 1.5rem 1.5rem 1.5rem;
}

.user-information-header {
    display: flex;
    justify-content: space-between;
}

.user-information-heading {
    margin-top: 0.25rem;
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75rem;
}

.user-information-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.75rem 0;
}


.user-information--name {
    color: var(--gray-800);
    font-size: 11px;
    font-weight: 500;
    line-height: 1rem;
}

.user-information--value {
    margin-bottom: 0;
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.user-information-residence {
    display: flex;
    gap: 0.5rem;
}

.user-information-residence-slash {
    display: flex;
    align-items: center;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.reset-password-container {
    border-top: 1px solid var(--gray-200);
    padding-top: 1.75rem;
}
