﻿<div class="d-flex">
    <a class="btn btn-link btn-with-icon me-2">
        <img src="~/icons/shopping-cart.svg" alt="Koszyk" class="svg-1" />
        <span class="fs-1 line-height-20 fw-500 ps-2 text-nowrap">Koszyk</span>
    </a>
    <div class="dropdown">
        <div class="btn btn-link btn-with-icon dropdown-toggle border-0" href="#" role="button" id="dropdownMyAccount" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="~/icons/user-circle.svg" alt="Moje konto" class="svg-1" />
            <span class="fs-1 line-height-20 fw-500 ps-2 text-nowrap">Moje konto</span>
        </div>

        <div class="dropdown-menu dropdown-menu-right logged-panel-dropdown-menu" aria-labelledby="dropdownMyAccount">
            @if (User.IsInRole(RoleHelper.Client))
            {
                <a class="dropdown-item" asp-controller="AccountSettings" asp-action="Index">
                    <img src="~/icons/settings.svg" alt="Ustawienia konta" class="svg-1" />
                    <span class="ps-2">Ustawienia konta</span>
                </a>
            }
            <form method="post" asp-controller="Account" asp-action="Logoff">
                <button type="submit" class="dropdown-item">
                    <img src="~/icons/log-out.svg" alt="Wyloguj się" class="svg-1" />
                    <span class="ps-2">Wyloguj się</span>
                </button>
            </form>
        </div>
    </div>
</div>
