﻿<a asp-controller="Account" asp-action="Login" class="btn btn-link btn-with-icon">
    <img src="~/icons/user-circle.svg" alt="Zaloguj się" class="svg-1" />
    <span class="fs-1 line-height-20 fw-500 ps-2 text-nowrap">Zaloguj się</span>
</a>