﻿@inject Microsoft.AspNetCore.Identity.SignInManager<ElectronicsStore.Models.User> signInManager

<div class="top-bar">
    <div class="d-flex">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/icons/logo.png" alt="Company logo" class="company-logo" />
        </a>
        <div class="input-group search">
            <input type="text" placeholder="Wyszukaj produkt (nazwa produktu, kategorii lub kod)" class="form-control search-engine" />
            <div class="search-btn">
                <img src="/icons/search.svg" alt="Search" class="svg-2" />
            </div>
        </div>
    </div>
    @if (signInManager.IsSignedIn(User))
    {
        <partial name="/Views/Partials/Layout/TopBar/_LoggedPanel.cshtml" />
    }
    else
    {
        <partial name="/Views/Partials/Layout/TopBar/_NotLoggedPanel.cshtml" />
    }
</div>