﻿@model List<ElectronicsStore.Models.Banner>

<div class="banner-slider swiper">
    <div class="swiper-wrapper">
        @foreach (Banner banner in Model)
        {
            <div class="swiper-slide cursor-pointer">
                <img src="@Url.Content(banner.ImageUrl)" alt="@banner.ImageTitle" class="banner-img" />
            </div>
        }
    </div>
    <div class="banner-controls">
        <div class="banner-pagination swiper-pagination"></div>
        <div class="banner-navigation">
            <div class="banner-arrow-prev banner-arrow">
                <img src="~/icons/arrow-left.svg" alt="Arrow left" />
            </div>
            <div class="banner-arrow-next banner-arrow">
                <img src="~/icons/arrow-right.svg" alt="Arrow right" />
            </div>
        </div>
    </div>
</div>