﻿@model List<ElectronicsStore.Models.News>

<div class="home-container">
    <div class="d-flex justify-content-between">
        <h4 class="heading">Aktualności</h4>
        <a asp-controller="News" asp-action="Index" class="btn primary-btn">
            <span>Zobacz wszystkie aktualności</span>
        </a>
    </div>
    <ul class="news-list">
        @foreach (News singleNews in Model)
            {
                <li>
                    <a asp-controller="News" asp-action="Article" asp-route-id="@singleNews.NewsId" class="single-news" >
                        <img src="@Url.Content(singleNews.ImageUrl)" alt="@singleNews.ImageTitle" />
                        <p>@singleNews.Title</p>
                        <span>@singleNews.Date.ToString("d")</span>
                    </a>
                </li>
            }
    </ul>
</div>