﻿@model List<ElectronicsStore.Models.Product>

@{
    CultureInfo cultureInfo = new CultureInfo("pl-PL");
}

<div class="home-container">
    <h4 class="heading">Outlet</h4>
    <div class="swiper product-slider outlet-slider">
        <div class="swiper-wrapper">
            @foreach (Product product in Model)
            {
                ProductImage mainProductImage = product.Images
                         .Where(product => product.IsMain == true)
                         .FirstOrDefault();

                <div class="swiper-slide">
                    <a asp-controller="ProductCard" asp-action="Index" asp-route-id="@product.ProductId" class="product-slider-content">
                        <div class="product-img">
                            @if (mainProductImage != null && mainProductImage.Url != null)
                            {
                                <img src="@Url.Content(mainProductImage.Url)" alt="@mainProductImage.Title" class="product-img" />
                            }
                            else
                            {
                                <img src="/images/no_photo.svg" alt="Brak zdjęcia" class="product-img" />
                            }

                            <div class="badge outlet-badge">Outlet</div>
                        </div>
                        <p class="product-name">@product.Name</p>
                        <div class="prices">
                            <div class="price">
                                <span>@product.Price.ToString("C", cultureInfo) </span>
                                <span>Netto/szt.</span>
                            </div>
                        </div>
                        <div class="btn see-product-btn primary-btn">
                            <img src="~/icons/eye.svg" alt="Eye" />
                            <span>Zobacz produkt</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="product-slider-navigation">
        <div class="outlet-arrow-prev product-slider-arrow">
            <img src="~/icons/chevron-left.svg" alt="Chevron left" />
        </div>
        <div class="outlet-arrow-next product-slider-arrow">
            <img src="~/icons/chevron-right.svg" alt="Chevron right" />
        </div>
    </div>
</div>
