﻿@model List<ElectronicsStore.Models.Category>

<div class="category-menu">
    <ul class="category-menu-list">
        @if (Model.Count() > 0)
        {
            @foreach (Category category in Model)
            {
                <li class="category-item">
                    <a asp-controller="Products" asp-action="Category" asp-route-id="@category.CategoryId" class="category-item-link">
                        <div class="category-item-wrapper">
                            <img src="@Url.Content(category.ImageUrl)" alt="@category.ImageTitle" class="category-item-img" />
                            <span class="category-item-name">@category.Name</span>
                        </div>
                    </a>
                </li>
            }
        } else
        {
            <li class="no-category-info">Brak kategorii.
            @if(User.IsInRole(RoleHelper.Admin))
            {
                <text> Przejdź do <a asp-controller="Assortment" asp-action="Categories" class="no-category-info--link">panelu administratora</a>, aby dodać kategorię.</text>
            }
            </li>
        }
    </ul>
</div>
