﻿.categories-view-container {
    min-height: calc(100% - 5.375rem);
        display: flex;
    column-gap: 1.5rem;
}

.category-table-wrapper,
.category-edit-tab-wrapper {
    flex-basis: calc(50% - 0.75rem);
}

.category-table-wrapper {
    padding: 1.5rem 1.5rem 3.5rem 1.5rem;
}

.category-edit-tab-wrapper {
    padding: 1rem 1.5rem 0 1.5rem;
}

.category-table {
    width: 100%;
    padding-top: 1.5rem;
    border-collapse: separate !important;
    border-spacing: 0;
}

.category-table td {
    border-spacing: 0 !important;
    border-radius: 0 !important;
}

.category-table tr {
    cursor: pointer;
}

.category-table-body tr td:first-child {
    width: 4rem;
    border-right: 1px solid var(--gray-300);
}

.category-table-body tr:first-child td:first-child {
    border-top-left-radius: 0.25rem !important;
}

.category-table-body tr:first-child td:last-child {
    border-top-right-radius: 0.25rem !important;
}

.category-table-body tr:not(:first-child) td {
    border-top: none;
}

.category-table-body .category-image-wrapper {
    padding: 0 !important;
}

.category-table-body .category-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0.25rem;
}

.category-table-body .category-image img {
    height: 100%;
}

.category-table-body .category-name-wrapper {
    padding: 0 1.25rem !important;
}

.category-table-body .category-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-table-body .category-name--icon {
    height: 0.875rem;
}

.category-table.empty + .add-category-button-wrapper {
    border-top: 1px solid var(--gray-300);
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.add-category-button-wrapper {
    border-right: 1px solid var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
    border-left: 1px solid var(--gray-300);
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    cursor: pointer;
}

.add-category-button {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-left: 1.25rem;
    margin-left: 3.875rem;
    border-left: 1px solid var(--gray-300);
}

.add-category-button img {
    width: 0.875rem;
    height: 0.875rem;
}

.add-category-button span {
    color: var(--primary);
    font-weight: 600;
    padding-left: 0.625rem;
}

.category-edit-tab-action-buttons {
    display: flex;
    column-gap: 0.5rem;
}

.category-edit-tab-action-buttons .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-100);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
}

.category-edit-tab-action-buttons .action-button img {
    width: 15px;
}

.category-edit-tab-action-buttons .action-button:hover {
    background-color: rgba(249, 221, 226, 0.8);
}

.form-label--category {
    min-width: 8rem;
}

.form-label--category--required {
    display: flex;
    min-width: 8rem;
}

.form-label--category--required::after {
    content: "*";
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary);
}

.form-control--category {
    min-height: 2rem;
    height: 2rem;
}

.form-group--category,
.form-group--image {
    display: flex;
    column-gap: 1.5rem;
}

.form-group--category {
    align-items: center;
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--gray-300);
}

.form-group--image {
    display: flex;
    padding-top: 1rem;
}

.form-group--image .category-image-wrapper {
    position: relative;
    min-width: 7.5rem;
    max-width: 7.5rem;
    min-height: 6.25rem;
    max-height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--gray-500);
    box-sizing: border-box;
    border-radius: 0.25rem;
    transition: background-color 0.1s ease-in-out;
}

.form-group--image .category-image-wrapper .category-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.category-image-wrapper--overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    width: 7.25rem;
    height: 6rem;
    transition: background-color 0.3s ease-in-out;
}

.category-image-wrapper--overlay:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.category-image--action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

.category-image--action img {
    width: 1rem;
}

.category-image-wrapper--overlay:hover .category-image--action {
    opacity: 1;
}
