﻿<ul class="scrollspy-list">
    <li class="scrollspy-item js-scrollspyItem active">
        <a href="#Basics" class="scrollspy-item-link js-scrollspyItemLink">Dane podstawowe</a>
    </li>
    <li class="scrollspy-item js-scrollspyItem">
        <a href="#Characteristics" class="scrollspy-item-link js-scrollspyItemLink">Cechy</a>
    </li>
    <li class="scrollspy-item js-scrollspyItem">
        <a href="#Description" class="scrollspy-item-link js-scrollspyItemLink">Opis</a>
    </li>
    <li class="scrollspy-item js-scrollspyItem">
        <a href="#Photos" class="scrollspy-item-link js-scrollspyItemLink">Zdjęcia</a>
    </li>
</ul>
