﻿@model ElectronicsStore.Models.ProductView

<div class="product-sidebar-container">
    <ul class="mb-0">
        <li class="product-sidebar-item form-check form-switch">
            <input asp-for="Product.IsMostPopular" class="form-check-input" type="checkbox" role="switch">
            <label asp-for="Product.IsMostPopular" class="form-check-label ms-0">
                Produkt promowany
            </label>
        </li>
        <li class="product-sidebar-item form-check">
            <input asp-for="Product.SpecialOffer" id="Promotion" class="form-check-input js-specialOfferInput js-promotionOfferInput" type="radio" value="@SpecialOffer.Promotion">
            <label asp-for="Product.SpecialOffer" for="Promotion" class="form-check-label ms-0">
                Produkt na promocji
            </label>
        </li>
        <li class="product-sidebar-item form-check">
            <input asp-for="Product.SpecialOffer" id="New" class="form-check-input js-specialOfferInput" type="radio" value="@SpecialOffer.New">
            <label asp-for="Product.SpecialOffer" for="New" class="form-check-label ms-0">
                Nowy produkt
            </label>
        </li>
        <li class="product-sidebar-item form-check">
            <input asp-for="Product.SpecialOffer" id="Outlet" class="form-check-input js-specialOfferInput" type="radio" value="@SpecialOffer.Outlet">
            <label asp-for="Product.SpecialOffer" for="Outlet" class="form-check-label ms-0">
                Produkt outletowy
            </label>
        </li>
    </ul>
    <partial name="/Views/Partials/Admin/Assortment/_Scrollspy.cshtml" />
</div>