﻿@model ElectronicsStore.Models.ProductsView

<nav class="breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <a class="breadcrumb-item" asp-controller="Home" asp-action="Index">Strona główna</a>
        <a class="breadcrumb-item @(Model.CurrentCategory == null ? "active" : "")" asp-controller="Products" asp-action="Category" asp-route-id="">Kategorie</a>
        @if (Model.CurrentCategory != null)
        {
            <li class="breadcrumb-item active" aria-current="page">
                @Model.CurrentCategory.Name
            </li>
        }
    </ol>
</nav>