﻿@model ElectronicsStore.Models.ProductsView

<div class="categories-container card-container">
    <h4 class="heading">Kategorie</h4>
    <ul class="categories-list">
        @foreach (Category category in Model.Categories)
        {
            @if (Model.CurrentCategory != null && Model.CurrentCategory.Name != null && Model.CurrentCategory.Name.Length > 0)
            {
                <li class="categories-item @(category.CategoryId == Model.CurrentCategory.CategoryId ? "active" : "")">
                    <a asp-action="Category" asp-route-id="@category.CategoryId">@category.Name</a>
                </li>
            }
            else
            {
                <li class="categories-item">
                    <a asp-action="Category" asp-route-id="@category.CategoryId">@category.Name</a>
                </li>
            }
        }
    </ul>
</div>