﻿@model ElectronicsStore.Models.ProductsView

<div class="dropdown show sorting-product-dropdown">
    <div class="btn dropdown-toggle" href="#" role="button" id="dropdownSortingOption" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="dropdown-toggle-text">@Model.SortProducts.CurrentSortingOption.SortName</span>
        <img src="~/icons/chevron-down.svg" class="dropdown-toggle-icon" />
    </div>

    <div class="dropdown-menu" aria-labelledby="dropdownSortingOption">
        @foreach (SortProductsOption sortProductsOption in Model.SortProducts.SortProductsOptions)
        {
            <a class="dropdown-item" asp-route-page="@(ViewBag.CurrentPage)" asp-route-sortOrder="@sortProductsOption.SortType">@sortProductsOption.SortName</a>
        }
    </div>
</div>