﻿@model ElectronicsStore.Models.ProductsView

@{
    CultureInfo cultureInfo = new CultureInfo("pl-PL");
}

<div class="card-container products-container">
    @await Html.PartialAsync("/Views/Partials/Products/_TilesControlPanel.cshtml", Model)
    <ul class="tiles-container @(@Model.CurrentCategory == null ? "tiles-view" : "")">
        @if (Model.CurrentCategory == null && Model.Categories != null && Model.Categories.Count() > 0)
        {
            @foreach (Category category in Model.Categories)
            {
                <li class="tile">
                    <a asp-action="Category" asp-route-id="@category.CategoryId" class="tile-link">
                        <div class="w-100 h-100 d-flex justify-content-center">
                            <img src="@Url.Content(category.ImageUrl)" alt="@category.ImageTitle" class="tile-img" />
                        </div>
                        <h5 class="tile-title">@category.Name</h5>
                    </a>
                </li>
            }
        }
        else
        {
            if (Model.ProductPager.Products.Count() > 0)
            {
                @foreach (Product product in Model.ProductPager.Products)
                {
                    ProductImage mainProductImage = product.Images
                             .Where(product => product.IsMain == true)
                             .FirstOrDefault();

                    <li class="tile">
                        <a asp-controller="ProductCard" asp-action="Index" asp-route-id="@product.ProductId" class="tile-link">
                            <div class="image-and-name-container">
                                <div class="d-flex justify-content-center position-relative">
                                    @if (mainProductImage != null && mainProductImage.Url != null)
                                    {
                                        <img src="@Url.Content(mainProductImage.Url)" alt="@mainProductImage.Title" class="tile-img" />
                                    }
                                    else
                                    {
                                        <img src="/images/no_photo.svg" alt="Brak zdjęcia" class="tile-img" />
                                    }

                                    @if (product.SpecialOffer == SpecialOffer.Promotion)
                                    {
                                        <div class="badge promotion-badge">Promocja</div>
                                    }
                                    else if (product.SpecialOffer == SpecialOffer.New)
                                    {
                                        <div class="badge news-badge">Nowość</div>
                                    }
                                    else if (product.SpecialOffer == SpecialOffer.Outlet)
                                    {
                                        <div class="badge outlet-badge">Outlet</div>
                                    }
                                </div>
                                <div class="name-code-container">
                                    <div>
                                        <span class="tile-title product-name">@product.Name</span>
                                        <span class="product-code">@product.Code</span>
                                    </div>
                                    <div class="availability-info">
                                        @if (product.Quantity >= 100)
                                        {
                                            <img src="~/icons/availability-big.svg" alt="Availibity big" class="availibity-icon" />
                                            <span class="availability-status--big availability-status">Duża dostępność</span>
                                        }
                                        else if (product.Quantity < 100 && product.Quantity >= 50)
                                        {
                                            <img src="~/icons/availability-medium.svg" alt="Availibity medium" class="availibity-icon" />
                                            <span class="availability-status--medium availability-status">Średnia dostępność</span>
                                        }
                                        else if (product.Quantity > 0 && product.Quantity < 50)
                                        {
                                            <img src="~/icons/availability-small.svg" alt="Availibity small" class="availibity-icon" />
                                            <span class="availability-status--small availability-status">Mała dostępność</span>
                                        }
                                        else
                                        {
                                            <img src="~/icons/availability-no.svg" alt="Availibity no" class="availibity-icon" />
                                            <span class="availability-status--no availability-status">Brak dostępności</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="price-and-button-container">
                                <div class="prices">
                                    @if (product.OldPrice != null)
                                    {
                                        <div class="old-price">
                                            <span>@product.OldPrice?.ToString("C", cultureInfo)</span>
                                            <span>Netto/szt.</span>
                                        </div>
                                    }
                                    <div class="price">
                                        <span>@product.Price.ToString("C", cultureInfo) </span>
                                        <span>Netto/szt.</span>
                                    </div>
                                </div>
                                <div class="btn see-product-btn primary-btn">
                                    <img src="/icons/eye.svg" alt="Eye">
                                    <span class="text-nowrap">Zobacz produkt</span>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            }
            else
            {
                <li>
                    <p class="no-products-info">Brak produktów</p>
                    @if (User.IsInRole(RoleHelper.Admin))
                    {
                        <a asp-controller="Assortment" asp-action="AddProduct" class="no-products-info--add">
                            <span class="no-products-info--add-text">Dodaj produkt</span>
                            <img class="no-products-info--add-icon" />
                        </a>
                    }
                </li>
            }
        }
    </ul>
    @if (Model.CurrentCategory != null)
    {
        @await Html.PartialAsync("/Views/Partials/Products/_Pager.cshtml", Model)
    }
</div>
