﻿@model ElectronicsStore.Models.ProductsView;

@if (Model.CurrentCategory != null && Model.CurrentCategory.Products.Count() > 0)
{
<div class="view-control-panel">
    <div class="view-control-buttons">
        <button class="btn btn-link btn-with-icon tiles-view-button">
            <div class="tiles-icon"></div>
        </button>
        <button class="btn btn-link btn-with-icon list-view-button">
            <div class="list-icon"></div>
        </button>
    </div>
    @await Html.PartialAsync("/Views/Partials/Products/_Sorting.cshtml", Model)
</div>
}
