﻿@model ElectronicsStore.Models.LoginView

<div class="account-view-container">
    <div class="account-view-background"></div>
    <div class="account-view-content">
        <img src="~/icons/logo.png" class="account-view-content--logo" />
        <div asp-validation-summary="All"></div>
        <form asp-controller="Account" asp-action="Login" method="post" class="login-form">
            <h2 class="login-heading">Zaloguj się</h2>
            <div class="login-form-wrapper">
                <div class="form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-label"></label>
                    <div class="position-relative">
                        <input asp-for="Password" class="form-control password-input" />
                        <img src="~/icons/eye-pass.svg" alt="Eye icon" class="password-icon" />
                    </div>
                </div>
                <div class="password-actions">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                    <a class="remind-password-link">Nie pamiętam hasła</a>
                </div>
                <button class="primary-btn account-submit-btn" type="submit">Zaloguj się</button>
                <div class="register-link-wrapper">
                    <span>Nie masz konta?</span>
                    <a asp-action="Register">Zarejestruj się</a>
                </div>
            </div>
        </form>
    </div>
</div>