﻿@model ElectronicsStore.Models.RegisterView

<div class="account-view-container">
    <div class="account-view-background"></div>
    <div class="account-view-content">
        <img src="~/icons/logo.png" class="account-view-content--logo" />
        <form asp-controller="Account" asp-action="Register" method="post" class="register-form">
            <a asp-action="Login" class="login-again-link">
                <img src="/icons/arrow-left-primary.svg" alt="Arrow left">
                <span>Powrót do logowania</span>
            </a>
            <h2 class="register-heading">Rejestracja</h2>
            <h4 class="register-subheading">1. Wybierz rolę konta</h4>
            <div class="row mt-3">
                <div class="col-5">
                    <label asp-for="RoleName" class="form-label"></label>
                    <select asp-for="RoleName" asp-items="@ElectronicsStore.Utility.RoleHelper.GetRolesSelectList()" class="form-select" aria-label="role"></select>
                </div>
            </div>
            <h4 class="register-subheading">2. Podaj dane adresowe</h4>
            <div class="row mt-3">
                <div class="col-5">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="form-validation"></span>
                </div>
                <div class="col-7">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="form-validation"></span>
                </div>
            </div>
            <div class="residence-form mt-3">
                <div>
                    <label asp-for="Street" class="form-label"></label>
                    <div>
                        <input asp-for="Street" class="form-control" />
                        <span class="form-explanation">np. Krakowska</span>
                    </div>
                    <span asp-validation-for="Street" class="form-validation"></span>
                </div>
                <div class="residence-form-numbers">
                    <div>
                        <label asp-for="StreetNumber" class="form-label"></label>
                        <input asp-for="StreetNumber" class="form-control" />
                        <span asp-validation-for="StreetNumber" class="form-validation"></span>
                    </div>
                    <div class="residence-form-numbers-slash">/</div>
                    <div>
                        <label asp-for="NumberOfPremises" class="form-label"></label>
                        <div>
                            <input asp-for="NumberOfPremises" class="form-control" />
                            <span class="form-explanation">Opcjonalnie</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 col-xl-3">
                    <label asp-for="ZipCode" class="form-label"></label>
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="form-validation"></span>
                </div>
                <div class="col-lg-8 col-xl-9">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="form-validation"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-5">
                    <label asp-for="Country" class="form-label"></label>
                    <select asp-for="Country" asp-items="@ElectronicsStore.Utility.CountryHelper.GetCountriesSelectList()" class="form-select" aria-label="resgiter-country"></select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-5">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <span asp-validation-for="Phone" class="form-validation"></span>
            </div>
            <h4 class="register-subheading">3. Podaj dane logowania</h4>
            <div class="row mt-3">
                <div class="col-12">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="form-validation"></span>
            </div>
            <div class="row mt-3">
                <div class="col-5">
                    <label asp-for="Password" class="form-label"></label>
                    <div class="position-relative">
                        <input asp-for="Password" class="form-control" data-password />
                        <img src="~/icons/eye-pass.svg" alt="Eye icon" class="password-icon" />
                    </div>
                    <span asp-validation-for="Password" class="form-validation"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-5">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <div class="position-relative">
                        <input asp-for="ConfirmPassword" class="form-control" data-confirm-password />
                        <img src="~/icons/eye-pass.svg" alt="Eye icon" class="password-icon" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="form-validation"></span>
                </div>
            </div>
            <div class="form-check accept-terms-and-conditions-wrapper">
                <input asp-for="AcceptTermsAndConditions" class="form-check-input" />
                <label asp-for="AcceptTermsAndConditions" class="form-check-label">
                    Zapoznałem/am się z
                    <a asp-controller="AcceptTermsAndConditions" asp-action="Index" class="terms-and-conditions-link">regulaminem</a>
                    sklepu i akceptuje jego warunki.
                </label>
                <span asp-validation-for="AcceptTermsAndConditions" class="form-validation"></span>
            </div>
            <button class="primary-btn account-submit-btn w-100" type="submit">Zarejestruj się</button>
        </form>
        <div asp-validation-summary="All"></div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}