﻿@model ElectronicsStore.Models.ProductCardView

<nav class="breadcrumb-container" aria-label="breadcrumb">
    <div class="breadcrumb">
        <a class="breadcrumb-item" asp-controller="Home" asp-action="Index">Strona główna</a>
        <a class="breadcrumb-item" asp-controller="Products" asp-action="Category" asp-route-id="">Kategorie</a>
        <a class="breadcrumb-item" asp-controller="Products" asp-action="Category" asp-route-id="@Model.CurrentCategory.CategoryId">
            @Model.CurrentCategory.Name
        </a>
    </div>
</nav>