﻿@model ElectronicsStore.Models.Product

<div class="card-container product-card-container product-card-description-container">
    <h3 class="product-card-heading">Opis produktu</h3>
    <div class="product-card-description-content">
        @Html.Raw(Model.Description)
    </div>
</div>