﻿@model ElectronicsStore.Models.Product

<div class="fullscreen-slider-container">
    <div class="fullscreen-slider-body">
        <div class="fullscreen-slider-header">
            <div class="fullscreen-slider-pagination"></div>
            <img src="~/icons/close.svg" alt="Close icon" class="fullscreen-slider-close" />
        </div>
        <div class="fullscreen-slider-content">
            <div class="swiper fullscreen-slider">
                <div class="swiper-wrapper">
                    @if (Model.Images.Count() != 0)
                    {
                        @foreach (ProductImage productImage in Model.Images)
                        {
                            <div class="swiper-slide d-flex align-items-center justify-content-center">
                                <img src="@Url.Content(productImage.Url)" alt="@productImage.Title" class="fullscreen-slide-image" />
                            </div>
                        }
                    }
                    else
                    {
                        <div class="swiper-slide d-flex align-items-center justify-content-center">
                            <img src="/images/no_photo.svg" alt="Brak zdjęcia" class="fullscreen-slide-image" />
                        </div>
                    }
                </div>
            </div>
            <div thumbsSlider="" class="swiper fullscreen-slider--thumbs">
                <div class="swiper-wrapper">
                    @if (Model.Images.Count() != 0)
                    {
                        @foreach (ProductImage productImage in Model.Images)
                        {
                            <div class="swiper-slide fullscreen-slide-thumb">
                                <img src="@Url.Content(productImage.Url)" alt="@productImage.Title" class="fullscreen-slide-thumb--image" />
                            </div>
                        }
                    }
                    else
                    {
                        <div class="swiper-slide fullscreen-slide-thumb">
                            <img src="/images/no_photo.svg" alt="Brak zdjęcia" class="fullscreen-slide-thumb--image" />
                        </div>
                    }
                </div>
            </div>
            <div class="fullscreen-slider-arrow fullscreen-slider-arrow-prev">
                <img src="~/icons/arrow-left-primary.svg" alt="Arrow left" />
            </div>
            <div class="fullscreen-slider-arrow fullscreen-slider-arrow-next">
                <img src="~/icons/arrow-right-primary.svg" alt="Arrow right" />
            </div>
        </div>
    </div>
</div>