﻿@model ElectronicsStore.Models.ProductCardView

<div class="card-container information-and-photos-container">
    <div class="tab-container">
        <div class="information-tab-container tab-container active">
            <div class="information-tab tab">
                <div class="tab-icon"></div>
                <span class="tab-name">Informacje</span>
            </div>
        </div>
        <div class="photos-tab-container tab-container inactive">
            <div class="photos-tab tab">
                <div class="tab-icon"></div>
                <span class="tab-name">Zdjęcia</span>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-content-information">
            <div>
                <table class="tab-content-table">
                    <thead>
                        <tr>
                            <th colspan="2">Informacje podstawowe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ProductInformation information in Model.Informations)
                        {
                            <tr>
                                <td>@information.Name</td>
                                <td>@information.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.Characteristics != null)
            {
                <div class="pt-4">
                    <table class="tab-content-table">
                        <thead>
                            <tr>
                                <th colspan="2">Cechy produktu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ProductInformation characteristic in Model.Characteristics)
                            {
                                <tr>
                                    <td>@characteristic.Name</td>
                                    <td>@characteristic.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div class="tab-content-photos d-none">
            @if (Model.Product.Images.Count() != 0)
            {
                @foreach (ProductImage productImage in Model.Product.Images)
                {
                    <div class="tab-content-photo">
                        <img src="@Url.Content(productImage.Url)" alt="@productImage.Title" class="product-card-slide-image" />
                        <div class="tab-content-action-buttons">
                            <div class="tab-content-photo-btn tab-content-photo-btn--zoom">
                                <img src="~/icons/search-plus.svg" alt="Zoom icon" />
                            </div>
                            <a href="@Url.Content(productImage.Url)" class="tab-content-photo-btn" download>
                                <img src="~/icons/download.svg" alt="Download icon" />
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="tab-content-photo">
                    <img src="/images/no_photo.svg" alt="Brak zdjęcia" class="product-card-slide-image" />
                    <div class="tab-content-action-buttons">
                        <div class="tab-content-photo-btn tab-content-photo-btn--zoom">
                            <img src="~/icons/search-plus.svg" alt="Zoom icon" />
                        </div>
                        <a href="/images/no_photo.svg" class="tab-content-photo-btn" download>
                            <img src="~/icons/download.svg" alt="Download icon" />
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>