﻿@model ElectronicsStore.Models.Product

@{
    CultureInfo cultureInfo = new CultureInfo("pl-PL");
}

<div class="product-card-container card-container">
    <div class="product-card-main--images">
        <div class="swiper product-card-slider">
            <div class="swiper-wrapper">
                @if (Model.Images.Count() != 0)
                {
                    @foreach (ProductImage productImage in Model.Images)
                    {
                        <div class="swiper-slide d-flex align-items-center justify-content-center">
                            <img src="@Url.Content(productImage.Url)" alt="@productImage.Title" class="product-card-slide-image" />
                        </div>
                    }
                }
                else
                {
                    <div class="swiper-slide d-flex align-items-center justify-content-center">
                        <img src="/images/no_photo.svg" alt="Brak zdjęcia" class="product-card-slide-image" />
                    </div>
                }

            </div>
            <div class="product-card-slider-arrow-prev-container">
                <div class="product-card-slider-arrow-prev product-card-slider-arrow">
                    <img src="~/icons/arrow-left-primary.svg" alt="Arrow left" />
                </div>
            </div>
            <div class="product-card-slider-arrow-next-container">
                <div class="product-card-slider-arrow-next product-card-slider-arrow">
                    <img src="~/icons/arrow-right-primary.svg" alt="Arrow right" />
                </div>
            </div>
        </div>
        <div thumbsSlider="" class="swiper product-card-slider--thumbs">
            <div class="swiper-wrapper">
                @if (Model.Images.Count() != 0)
                {
                    @foreach (ProductImage productImage in Model.Images)
                    {
                        <div class="swiper-slide product-card-slide-thumb">
                            <img src="@Url.Content(productImage.Url)" alt="@productImage.Title" class="product-card-slide-thumb--image" />
                        </div>
                    }
                }
                else
                {
                    <div class="swiper-slide product-card-slide-thumb">
                        <img src="/images/no_photo.svg" alt="Brak zdjęcia" class="product-card-slide-thumb--image" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="product-card-main--info">
        <h3 class="product-card-name">@Model.Name</h3>
        <p class="product-card-code">@Model.Code</p>
        <div class="product-card-prices">
            @if (Model.OldPrice != null)
            {
                <div class="product-card-prices--old-price">
                    <span>@Model.OldPrice?.ToString("C", cultureInfo)</span>
                    <span>Netto/szt.</span>
                </div>
            }
            <div class="product-card-prices--current-price">
                <span>@Model.Price.ToString("C", cultureInfo)</span>
                <span>Netto/szt.</span>
            </div>
            <div class="product-card-availability-container">
                <div class="product-card-availability">
                    <div class="d-flex align-items-center">
                        @if (Model.Quantity >= 100)
                        {
                            <img src="~/icons/availability-big.svg" alt="Availibity big" class="availibity-icon" />
                            <span class="availability-status--big availability-status">Duża dostępność</span>
                        }
                        else if (Model.Quantity < 100 && Model.Quantity >= 50)
                        {
                            <img src="~/icons/availability-medium.svg" alt="Availibity medium" class="availibity-icon" />
                            <span class="availability-status--medium availability-status">Średnia dostępność</span>
                        }
                        else if (Model.Quantity > 0 && Model.Quantity < 50)
                        {
                            <img src="~/icons/availability-small.svg" alt="Availibity small" class="availibity-icon" />
                            <span class="availability-status--small availability-status">Mała dostępność</span>
                        }
                        else
                        {
                            <img src="~/icons/availability-no.svg" alt="Availibity no" class="availibity-icon" />
                            <span class="availability-status--no availability-status">Brak dostępności</span>
                        }
                    </div>
                    <div class="availability-quantity-status">
                        <img src="~/icons/quantity.svg" alt="Quantity" class="availibity-icon" />
                        <span class="quantity-status availability-status">@Model.Quantity szt.</span>
                    </div>
                    @if (Model.Quantity > 0)
                    {
                        <div class="add-to-cart-wrapper">
                            <div class="product-card-counter">
                                <span class="product-card-counter--button product-card-counter--decrement-button">-</span>
                                <input class="product-card-counter--input" type="number" value="1" min="1" max="@Model.Quantity" />
                                <span class="product-card-counter--button product-card-counter--increment-button">+</span>
                            </div>
                            <div class="btn primary-btn add-to-cart-button">
                                <img src="/icons/eye.svg" alt="Eye">
                                <span class="text-nowrap">Dodaj do koszyka</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

