﻿@model List<ElectronicsStore.Models.Product>

@{
    CultureInfo cultureInfo = new CultureInfo("pl-PL");
}


<div class="card-container similar-product-container">
    <h3 class="product-card-heading">Podobne produkty</h3>
    <div class="swiper similar-products-slider">
        <div class="swiper-wrapper">
            @foreach (Product product in Model)
            {
                ProductImage mainProductImage = product.Images
                         .Where(image => image.IsMain == true)
                         .FirstOrDefault();

                <div class="swiper-slide similar-product-slide">
                    <a asp-controller="ProductCard" asp-action="Index" asp-route-id="@product.ProductId" class="similar-product-slide-content">
                        <div class="similar-product-img-wrapper">
                            @if (mainProductImage != null && mainProductImage.Url != null)
                            {
                                <img src="@Url.Content(mainProductImage.Url)" alt="@mainProductImage.Title" class="similar-product-img" />
                            }
                            else
                            {
                                <img src="/images/no_photo.svg" alt="Brak zdjęcia" class="similar-product-img" />
                            }

                            @if (product.SpecialOffer == SpecialOffer.Promotion)
                            {
                                <div class="badge promotion-badge">Promocja</div>
                            }
                            else if (product.SpecialOffer == SpecialOffer.New)
                            {
                                <div class="badge news-badge">Nowość</div>
                            }
                            else if (product.SpecialOffer == SpecialOffer.Outlet)
                            {
                                <div class="badge outlet-badge">Outlet</div>
                            }
                        </div>
                        <p class="similar-product-name">@product.Name</p>
                        <div class="similar-product-prices">
                            @if (product.OldPrice != null)
                            {
                                <div class="similar-product-prices--old-price">
                                    <span>@product.OldPrice?.ToString("C", cultureInfo)</span>
                                    <span>Netto/szt.</span>
                                </div>
                            }
                            <div class="similar-product-prices--price">
                                <span>@product.Price.ToString("C", cultureInfo) </span>
                                <span>Netto/szt.</span>
                            </div>
                        </div>
                        <div class="btn similar-product--see-btn">
                            <img src="~/icons/eye.svg" alt="Eye" />
                            <span>Zobacz produkt</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="similar-products-slider-navigation">
        <div class="similar-products-arrow-prev similar-products-slider-arrow">
            <img src="~/icons/chevron-left.svg" alt="Chevron left" />
        </div>
        <div class="similar-products-arrow-next similar-products-slider-arrow">
            <img src="~/icons/chevron-right.svg" alt="Chevron right" />
        </div>
    </div>
</div>