﻿@model ElectronicsStore.Models.ProductView

<div class="assortment-card p-4 w-100" id="Description">
    <h3 class="assortment-heading">Opis</h3>
    <div class="ckeditor-wrapper">
        <textarea asp-for="Product.Description" class="ckeditor" rows="200"></textarea>
    </div>
</div>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('#Product_Description');
    });
</script>