﻿<div class="toolbar-container">
    <div>
        <h3 class="toolbar-subtitle">Asortyment</h3>
        <h2 class="toolbar-title">Dodaj produkt</h2>
    </div>
    <div class="toolbar-actions">
        <button type="submit" class="btn primary-btn">
            <img src="/icons/save-white.svg" alt="Save" />
            <span>Zapisz</span>
        </button>
    </div>
</div>