﻿.account-view-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 4fr;
    background-color: var(--white);
    z-index: 10002;
}

.account-view-background {
    background-image: url("/images/logo-primary.jpg");
    background-size: 18rem;
    background-position-y: center;
    background-position-x: 1rem;
}

.account-view-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    overflow-y: scroll;
}

.account-view-content--logo {
    height: 3rem;
}

.password-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.account-submit-btn {
    justify-content: center;
    margin-top: 1.25rem;
    border: 0;
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.password-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    cursor: pointer;
}
