﻿.logged-panel-dropdown-menu {
    margin-top: 0.25rem !important;
    width: 12.5rem;
}

#dropdownMyAccount.show {
    background-color: var(--gray-100);
    text-decoration: none;
    color: inherit;
}