﻿.login-form {
    width: 19.375rem;
    margin-top: 4.875rem;
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.login-heading {
    color: black;
    font-size: 21px;
    font-weight: 700;
    line-height: 2rem;
}

.remind-password-link {
    color: var(--primary);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.remind-password-link:hover {
    color: var(--primary-200);
}

.password-input {
    padding-right: 2.5rem;
}

.login-btn {
    justify-content: center;
    margin-top: 1.25rem;
    border: 0;
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.register-link-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.register-link-wrapper span,
.register-link-wrapper a {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.register-link-wrapper span {
    color: var(--black);
    font-weight: 500;
}

.register-link-wrapper a {
    color: var(--primary);
    font-weight: 600;
}

