﻿.register-form {
    width: 37.5rem;
    margin-top: 2.375rem;
    margin-bottom: 5rem;
}

.login-again-link {
    display: flex;
    gap: 10.25px;
    text-decoration: none;
}

.login-again-link img {
    width: 14px;
}

.login-again-link span {
    color: var(--primary);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    transition: color .05s ease-in-out;
}

.register-heading {
    color: black;
    font-size: 21px;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 1.75rem;
}

.register-subheading {
    margin-top: 2rem;
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.register-subheading:first-of-type {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.residence-form {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

.residence-form-numbers {
    display: flex;
    gap: 0.5rem;
}

.residence-form-numbers-slash {
    display: flex;
    align-items: center;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: calc(100% - 20px);
}

.accept-terms-and-conditions-wrapper {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.terms-and-conditions-link {
    color: var(--primary);
    font-weight: 700;
}

.terms-and-conditions-link:hover {
    color: var(--primary-200);
}