﻿.product-background-table {
    border-collapse: separate !important;
    border-spacing: 0;
}

.product-background-table td {
    padding: 0.25rem 1rem !important;
    border-spacing: 0 !important;
    border-radius: 0 !important;
}

.product-background-table tr td:first-child {
    font-weight: 500;
    border-right: 1px solid var(--gray-300);
    color: var(--gray-800);
    font-weight: 400;
}

.product-background-table tr td:last-child {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.product-background-table tr:first-child td:first-child {
    border-top-left-radius: 0.25rem !important;
}

.product-background-table tr:first-child td:last-child {
    border-top-right-radius: 0.25rem !important;
}

.product-background-table tr:last-child td:first-child {
    border-bottom-left-radius: 0.25rem !important;
}

.product-background-table tr:last-child td:last-child {
    border-bottom-right-radius: 0.25rem !important;
}

.product-background-table tr:not(:first-child) td {
    border-top: none;
}