﻿.photos-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 11rem);
    width: min-content;
    min-height: 15.375rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
}

.add-photos-button-link,
.product-single-image-wrapper {
    height: 8rem;
    cursor: pointer;
}

.add-photos-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-100);
    border: 2px dashed var(--primary);
    box-sizing: border-box;
    border-radius: 0.25rem;
    transition: background-color 0.1s ease-in-out;
}

.add-photos-button-link:hover {
    background-color: rgba(249, 221, 226, 0.8);
}

.add-photos-button-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
}

.add-photos-button-link-wrapper img {
    height: 1rem;
}

.add-photos-button-link-wrapper span {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--primary);
    text-align: center;
}

.product-single-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    border: 2px dashed var(--gray-500);
}

.product-single-image-wrapper--overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    width: 10.75rem;
    height: 7.75rem;
    transition: background-color 0.3s ease-in-out;
}

.product-single-image-wrapper--overlay:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.product-single-image {
    width: 7.5rem;
    height: 6.5rem;
    object-fit: contain;
    object-position: center;
}

.product-single-image--action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.25rem;
}

.product-single-image--action img {
    width: 1rem;
}

.product-single-image-wrapper--overlay:hover .product-single-image--action {
    opacity: 1;
}

.add-photo-info {
    margin-bottom: 1rem;
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.photo-uploader-wrapper {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--gray-300);
}

.photo-uploader {
    display: flex;
    width: 33rem;
    cursor: pointer;
}

.photo-uploader--select-photo {
    width: 100%;
    padding: 9px 0.75rem;
    border-top: 1px solid var(--gray-700);
    border-bottom: 1px solid var(--gray-700);
    border-left: 1px solid var(--gray-700);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.photo-uploader--select-photo span {
    color: var(--gray-700);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.photo-uploader--review {
    min-width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.5px;
    background-color: var(--primary);
    padding: 0.625rem 1rem;
    border: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    cursor: pointer;
}

.photo-uploader--review span {
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.photo-uploader-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
