﻿.product-characteristics-wrapper {
    width: 753px;
}

.product-characteristics-table {
    padding-top: 1.5rem;
    border-collapse: separate !important;
    border-spacing: 0;
}

.product-characteristics-table td {
    padding: 0.25rem 0.25rem !important;
    border-spacing: 0 !important;
    border-radius: 0 !important;
}

.product-characteristics-table-body tr td:first-child {
    border-right: 1px solid var(--gray-300);
}

.product-characteristics-table-body tr:first-child td:first-child {
    border-top-left-radius: 0.25rem !important;
}

.product-characteristics-table-body tr:first-child td:last-child {
    border-top-right-radius: 0.25rem !important;
}

.product-characteristics-table-body tr:not(:first-child) td {
    border-top: none;
}

.characteristic-value-wrapper {
    display: flex;
    align-items: center;
}

.product-characteristics-table .trash-icon {
    width: 0.875rem;
    margin: 0 0.5rem 0 0.75rem;
    cursor: pointer;
}

.add-characteristic-button {
    display: flex;
    align-items: center;
    height: 41px;
    padding-left: 1rem;
    border-right: 1px solid var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
    border-left: 1px solid var(--gray-300);
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    cursor: pointer;
}

.product-characteristics-table.empty + .add-characteristic-button {
    border-top: 1px solid var(--gray-300);
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.add-characteristic-button:first-child {
    border-top: 1px solid var(--gray-300);
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.add-characteristic-button img {
    width: 0.875rem;
    height: 0.875rem;
}

.add-characteristic-button span {
    color: var(--primary);
    font-weight: 600;
    padding-left: 0.625rem;
}
