﻿.product-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
}

.form-label--product,
.form-label--product--required {
    display: flex;
    width: 9rem;
    padding-right: 0.75rem;
}

.form-label--product--required::after {
    content: "*";
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary);
}

.form-control--product,
.form-control--product-lg,
.form-control--product-md,
.form-control-product-sm,
.form-select--product {
    min-height: 2rem;
    height: 2rem;
}

.form-control--product,
.form-select--product {
    width: 27.5rem;
}

.form-control--product-lg {
    width: 16.25rem;
}

.form-control--product-md {
    width: 8.5rem;
}

.form-control-product-sm {
    width: 6.25rem;
}

.form-select--product {
    background-image: url("/icons/pencil-black.svg");
}

.form-select--product:focus {
    background-image: url("/icons/pencil.svg");
}

.product-data-wrapper {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--gray-300);
}

.product-data-wrapper:last-of-type {
    border-bottom: 0;
    padding-bottom: 0.5rem;
}

.product-data-wrapper .add-category-btn {
    
}

