﻿.product-sidebar-container {
    width: 18.75rem;
    height: min-content;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray-300);
    border-right: 1px solid var(--gray-300);
    border-bottom-right-radius: 0.5rem;
}

.product-sidebar-container .form-check-label {
    color: var(--gray-800);
}

.product-sidebar-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid var(--gray-300);
    margin: 0;  
}

.product-sidebar-item .form-check-input:checked+label,
.product-sidebar-item:hover  .form-check-label {
    color: var(--black);
    font-weight: 600;
}

.scrollspy-list {
    padding-left: 1.5rem;
    margin-bottom: 0;
}

.scrollspy-item {
    display: flex;
    align-items: center;
}

.scrollspy-item:hover .scrollspy-item-link,
.scrollspy-item.active .scrollspy-item-link{
    color: var(--black);
    font-weight: 600;
}

.scrollspy-item:hover::before,
.scrollspy-item.active::before {
    visibility: visible;
}

.scrollspy-item-link {
    display: block;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--gray-800);
}

.scrollspy-item::before {
    content: "";
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: var(--primary);
    visibility: hidden;
}
