﻿.article-content-wrapper {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 1.5rem;
}

.article-card-container {
    padding: 1.5rem;
}

.form-label--article,
.form-label--article--required {
    display: flex;
    min-width: 9rem;
    max-width: 9rem;
    padding-right: 0.75rem;
}

.form-label--article--required::after {
    content: "*";
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary);
}

.form-control--article {
    min-height: 2rem;
    height: 2rem;
}

.form-check--article-list {
    min-height: 0;
}



