﻿.form-group-article--title {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--gray-300);
}

.form-group-article--image {
    padding-top: 1.5rem;
}

.form-group-article--image .article-image-wrapper {
    position: relative;
    min-width: 10.75rem;
    max-width: 10.75rem;
    min-height: 6.5rem;
    max-height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--gray-500);
    box-sizing: border-box;
    border-radius: 0.25rem;
    transition: background-color 0.1s ease-in-out;
}

.form-group-article--image .article-image-wrapper.empty {
    background-color: var(--primary-100);
    border: 2px dashed var(--primary);
}

.form-group-article--image.empty .article-image-wrapper:hover {
    background-color: rgba(249, 221, 226, 0.8);
}

.article-image-wrapper .article-image-link-wrapper {
    display: none;
}

.article-image-wrapper.empty .article-image-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
    cursor: pointer;
}

.article-image-wrapper.empty .article-image-link-wrapper img {
    height: 1rem;
}

.article-image-wrapper.empty .article-image-link-wrapper span {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--primary);
    text-align: center;
}

.article-image-wrapper.empty .article-image-wrapper--overlay {
    display: none;
}

.article-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    width: 7.25rem;
    height: 6rem;
    transition: background-color 0.3s ease-in-out;
}

.article-image-wrapper--overlay:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.article-image--action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

.article-image--action img {
    width: 1rem;
}

.article-image-wrapper--overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    width: 10.5rem;
    height: 6.25rem;
    transition: background-color 0.3s ease-in-out;
}

.article-image-wrapper--overlay:hover .article-image--action {
    opacity: 1;
}

.article-image {
    width: 7rem;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.article-image-wrapper.empty .article-image {
    display: none;
}

.form-group-article--image-alternative-text {
    display: flex;
    padding: 2.625rem 0 1.5rem 0;
    border-bottom: 1px solid var(--gray-300);
}

.form-group-article--image-alternative-text input {
    width: 60%;
}

.form-group-article--content {
    display: flex;
    padding-top: 1.5rem;
}
