﻿.article-publication-card-container {
    height: max-content;
}

.form-group-article--recommended {
    display: flex;
    padding-top: 1.875rem;
}

.form-group-article--publication-date {
    display: flex;
    padding-top: 1.5rem;
}

.form-group-article--publication-date .publiaction-date {
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
}
