﻿@model ElectronicsStore.Models.ProductView

<div class="admin-container">
    <partial name="/Views/Partials/Admin/_Menu.cshtml" />
    <div>
        <div asp-validation-summary="All" class="d-none"></div>
        <form method="post" asp-action="AddProduct" enctype="multipart/form-data" class="js-productForm">
            <partial name="/Views/Partials/Admin/Assortment/AddProduct/_Toolbar.cshtml" />
            <div class="d-flex">
                <partial name="/Views/Partials/Admin/Assortment/_Sidebar.cshtml" />
                <div class="product-content-wrapper">
                    <partial name="/Views/Partials/Admin/Assortment/AddProduct/_Basics.cshtml" />
                    <partial name="/Views/Partials/Admin/Assortment/AddProduct/_ProductCharacteristics.cshtml" />
                    <partial name="/Views/Partials/Admin/Assortment/AddProduct/_Description.cshtml" />
                    <partial name="/Views/Partials/Admin/Assortment/AddProduct/_Photos.cshtml" />
                </div>
            </div>
        </form>
    </div>
</div>