﻿@model List<ElectronicsStore.Models.Category>

<div class="admin-container">
    <partial name="/Views/Partials/Admin/_Menu.cshtml" />
    <div>
        <partial name="/Views/Partials/Admin/Assortment/Categories/_Toolbar.cshtml" />
        <div class="admin-container-body categories-view-container">
            @await Html.PartialAsync("/Views/Partials/Admin/Assortment/Categories/_Categories.cshtml", Model)

            @foreach (Category category in Model)
            {
                @await Html.PartialAsync("/Views/Partials/Admin/Assortment/Categories/_EditCategoryTab.cshtml", category)
            }
        </div>
    </div>
</div>

