﻿@model ElectronicsStore.Models.ProductView

<div class="admin-container">
    <partial name="/Views/Partials/Admin/_Menu.cshtml" />
    <div class="js-productElement" data-product-id="@Model.Product.ProductId">
        <div asp-validation-summary="All" class="d-none"></div>
        <form method="post" asp-action="EditProduct" enctype="multipart/form-data" class="js-productForm">
            <input asp-for="Product.ProductId" type="hidden" />
            @await Html.PartialAsync("/Views/Partials/Admin/Assortment/EditProduct/_Toolbar.cshtml", Model.Product)
            <div class="d-flex">
                @await Html.PartialAsync("/Views/Partials/Admin/Assortment/_Sidebar.cshtml", Model)
                <div class="product-content-wrapper">
                    @await Html.PartialAsync("/Views/Partials/Admin/Assortment/EditProduct/_Basics.cshtml", Model)
                    @await Html.PartialAsync("/Views/Partials/Admin/Assortment/EditProduct/_ProductCharacteristics.cshtml", Model)
                    @await Html.PartialAsync("/Views/Partials/Admin/Assortment/EditProduct/_Description.cshtml", Model)
                    @await Html.PartialAsync("/Views/Partials/Admin/Assortment/EditProduct/_Photos.cshtml", Model)
                </div>
            </div>
        </form>
    </div>
</div>