﻿@model ElectronicsStore.Models.AssortmentProductsView

<div class="admin-container">
    <partial name="/Views/Partials/Admin/_Menu.cshtml" />
    <div>
        <partial name="/Views/Partials/Admin/Assortment/Products/_Toolbar.cshtml" />
        <div class="admin-container-body assortment-products-container">
            @await Html.PartialAsync("/Views/Partials/Admin/Assortment/Products/_LatestProducts.cshtml", Model.LatestProducts)
            @await Html.PartialAsync("/Views/Partials/Admin/Assortment/Products/_SpecialOffersCounters.cshtml", Model)
            @await Html.PartialAsync("/Views/Partials/Admin/Assortment/Products/_CategoryDoughnut.cshtml")
            @await Html.PartialAsync("/Views/Partials/Admin/Assortment/Products/_ProductList.cshtml", Model.ProductPager)
        </div>
    </div>
</div>