﻿@{
    string contoller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();

    string path = $"{contoller}/{action}";
}

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button @(contoller == "Assortment" ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <div class="accordion-button--icon assortment-icon"></div>
                <span>Asortyment</span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse @(contoller == "Assortment" ? "show" : "")" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <ul>
                    <li class="accordion-body--item @(path == "Assortment/Products" ? "active" : "")">
                        <a asp-controller="Assortment" asp-action="Products" class="accordion-body--item-link">Produkty</a>
                    </li>
                    <li class="accordion-body--item @(path == "Assortment/Categories" ? "active" : "")">
                        <a asp-controller="Assortment" asp-action="Categories" class="accordion-body--item-link">Kategorie produktów</a>
                    </li>
                    <li class="accordion-body--item @(path == "Assortment/AddProduct" ? "active" : "")">
                        <a asp-controller="Assortment" asp-action="AddProduct" class="accordion-body--item-link">
                            <i class="fas fa-plus me-1"></i>
                            <span>Dodaj produkt</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button @(contoller == "Article" ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <div class="accordion-button--icon article-icon"></div>
                <span>Artykuły</span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse @(contoller == "Article" ? "show" : "")" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <ul>
                    <li class="accordion-body--item @(path == "Article/Articles" ? "active" : "")">
                        <a asp-controller="Article" asp-action="Articles" class="accordion-body--item-link">Artykuły</a>
                    </li>
                    <li class="accordion-body--item @(path == "Article/AddArticle" ? "active" : "")">
                        <a asp-controller="Article" asp-action="AddArticle" class="accordion-body--item-link">
                            <i class="fas fa-plus me-1"></i>
                            <span>Dodaj artykuł</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>