﻿<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj kategorię</h5>
                <button type="button" class="btn-close btn-link" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="photo-uploader-wrapper">
                    <div class="col-6">
                        <label for="categoryName" class="form-label">Podaj nazwę kategorii</label>
                        <input type="text" id="categoryName" class="form-control js-categoryNameInput" />
                    </div>
                </div>
                <p class="add-photo-info pt-3">Zdjęcie powinno mieć przezroczyste tło i być w formacie .PNG lub .SVG</p>
                <div class="photo-uploader-wrapper border-bottom-0">
                    <label for="categoryImageUploader" class="photo-uploader">
                        <div class="photo-uploader--select-photo">
                            <span class="js-currentCategoryImageName"></span>
                        </div>
                        <div class="photo-uploader--review">
                            <span>Przeglądaj</span>
                        </div>
                    </label>
                    <input type="file" id="categoryImageUploader" class="photo-uploader-input js-categoryImageUploaderInput" accept="image/*" />
                </div>
                <div class="photo-uploader-wrapper pt-1 pb-0 border-bottom-0">
                    <div class="col-6">
                        <label for="categoryImageAlternativeTitle" class="form-label">Podaj tekst alternatywny</label>
                        <input type="text" id="categoryImageAlternativeTitle" class="form-control js-categoryImageAlternativeTitleInput" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn secondary-btn" data-bs-dismiss="modal">
                    <span>Anuluj</span>
                </button>
                <button type="button" class="btn primary-btn js-addCategoryButton" data-bs-dismiss="modal">
                    <span>Dodaj</span>
                </button>
            </div>
        </div>
    </div>
</div>