﻿@model List<ElectronicsStore.Models.Category>

<div class="assortment-card category-table-wrapper">
    <h4 class="assortment-heading">Kategorie</h4>
    <table class="category-table @(Model.Count() == 0 ? "empty" : "")">
        <tbody class="category-table-body js-categoryTableBody">
            @foreach (Category category in Model)
            {
                <tr class="js-categoryRow" data-category-id="@category.CategoryId">
                    <td class="category-image-wrapper">
                        <div class="category-image">
                            <img src="@Url.Content(category.ImageUrl)" alt="@category.ImageTitle" />
                        </div>
                    </td>
                    <td class="category-name-wrapper">
                        <div class="category-name">
                            <span>@category.Name</span>
                            <img src="/icons/pencil.svg" alt="Ikonka - nazwy kategorii" class="category-name--icon" />
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <div class="add-category-button-wrapper" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
        <div class="add-category-button">
            <img src="/icons/plus-primary.svg" alt="Ikonka - dodaj kategorię" />
            <span>Dodaj kategorię</span>
        </div>
    </div>
</div>

<partial name="/Views/Partials/Admin/Assortment/Categories/_AddCategoryModal.cshtml" />