﻿@model ElectronicsStore.Models.Category

<div class="assortment-card category-edit-tab-wrapper js-categoryEditTab d-none" data-category-edit-tab-id="@Model.CategoryId">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="assortment-heading">Edycja kategorii</h4>
        <div class="category-edit-tab-action-buttons">
            <div class="btn btn-sm primary-btn js-saveCategoryButton">
                <img src="/icons/save-white.svg" alt="Przycisk - zapisz" />
                <span>Zapisz</span>
            </div>
            <div class="btn action-button js-deleteCategoryButton">
                <img src="/icons/trash.svg" alt="Przycisk - usuń" />
            </div>
            <a asp-controller="Products" asp-action="Category" asp-route-id="@Model.CategoryId" class="btn action-button">
                <img src="/icons/eye-primary.svg" alt="Przycisk - zobacz" />
            </a>
        </div>
    </div>
    <div class="form-group--category">
        <label for="categoryName" class="form-label form-label--category--required text-nowrap">Nazwa kategorii</label>
        <input type="text" id="categoryName" value="@Model.Name" class="form-control form-control--category js-categoryNameInput" />
    </div>
    <div class="form-group--image">
        <span class="form-label form-label--category--required text-nowrap">Zdjęcie kategorii</span>
        <div class="category-image-wrapper">
            <img src="@Url.Content(Model.ImageUrl)" alt="@Model.ImageTitle" class="category-image js-categoryImagePreview" />
            <div class="category-image-wrapper--overlay">
                <label for="@($"categoryImage{Model.CategoryId}")" class="category-image--action">
                    <img src="/icons/edit.svg" />
                </label>
                <input type="file" id="@($"categoryImage{Model.CategoryId}")" class="photo-uploader-input js-categoryImageUploaderInput" accept="image/*" />
            </div>
        </div>
        <div>
            <p class="photo-restrictions-list-heading">Zdjęcie powinno:</p>
            <ul class="ms-3">
                <li class="photo-restrictions-list-item">być w formacie .PNG lub .SVG</li>
                <li class="photo-restrictions-list-item">mieć przezroczyste tło</li>
            </ul>
        </div>
    </div>
    <div class="form-group--category border-bottom-0">
        <label for="categoryName" class="form-label form-label--category">Tekst alternatywny zdjęcia</label>
        <input type="text" id="categoryName" value="@Model.ImageTitle" class="form-control form-control--category js-categoryImageAlternativeTitleInput" />
    </div>
</div>
